<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>SantaCruzEQ</h2>
      <p>Exceptional yet affordable analog architectures that will take your work out of the ordinary.
      </p>
      <h4>SantaCruzEQ6 Available Now, SantaCruzEQ12 Coming Soon…<br>
      • SantaCruzEQ12; <strike>MSRP $259</strike>, PreRelease: $209<br>
      • SantaCruzEQ6; <strike>MSRP $189</strike>, PreRelease: $149<br>
      </h4>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/SantaCruzEQ/Architectures.png", alt: "SantaCruzEQ", class: "img-fluid center-img" %>
        </div>

        <div class="col-md-8 margin-b-30">
          <h3>Yes, Your Blueness</h3>
          <p>Why develop yet one more parametric equalizer (PEQ) when there’s already hundreds on the market? The answer is simple…’Cuz there was room for improvement! At MAAT, we remixed Algorithmix’s legendary Classic PEQ Blue, resulting in our distinguished thEQblue.</p>
          <h3>The Foundational Twelve</h3>
          <p>With the daddy of SantaCruzEQ, <a href="https://www.maat.digital/theqblue/" target="_blank">thEQblue</a>, we wanted to lift “analog” up to a whole new level, so we reverse–engineered a variety of well respected hardware equalizers, creating idealized digital versions from that inspiration. Rather than models or simulations that carry analog baggage, SantaCruzEQ or SCEQ has no noise, no distortion or any other secondary effects inherited from analog.</p>
          <p>Borrowing from our premium minimal phase equlizer, we took the most complete collection of classic equalizer architectures ever assembled into one package, and simplified choice to reduce the cost. With SantaCruzEQ6, you get precise, idealized examples of legendary series equalizer circuitry. SantaCruzEQ12 adds additional series architectures, notably progressive new models and adds two powerful parallel varieties as well. Whether it’s vintage, modern, or experimental, SantaCruzEQ is a cost effective sonic sandbox for discerning mixing and mastering engineers to play in.
          </p>
          <h3>SantaCruz versus thEQblue</h3>
          <p>Both products share the same underlying equalization engine. Where they diverge is the number of Sections, or effective bands, and sophisticated UI features. SantaCruzEQ has six Sections or “bands,” while thEQblue has twelve. In SantaCruzEQ, the outer Sections are dedicated to cut or shelving filter types. SantaCruz also lacks our potent Left/Right/MS Panorama modes, variable UI Detuning, and our high rez spectrogram. To make SantaCruzEQ more accessible, we’ve also removed thEQ’s dongle requirement. You can have a host–based license or, for portability and rapid disaster recovery, you can house all of your MAAT and MAGIX licenses on one of our tiny <a href="https://www.maat.digital/dongle/" target="_blank">CmSticks</a>.
        </div>
      </div>
      <div class="space-30"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>BFF</h3>
          <p>
            The equalizer is perhaps the oldest and most popular of sound processing tools. From its earliest days, the main function was “equalization.” That is, correction or enhancement by boosting or cutting certain frequencies to make all of the audio passband “equal.”<br>
            For a century, engineers have developed countless equalizers. A few became legend, our <a href="https://www.maat.digital/theqorange/" target="_blank">thEQorange</a> and thEQred is examples. The most popular version in recording and post is the parametric equalizer or PEQ, first invented by Flickinger in 1971 and perfected by Massenburg in 1972. “Paramets” offer maximum flexibility with only three controls. Properly used, the PEQ is a powerful tool and the best friend of every audio engineer in their quest for perfect sound. As Spidey (and Voltaire) always reminds us though; “With great power comes great responsibility.” When designed by a clueless or cost–constrained engineer, it can be a lethal sonic enemy.</p>
          <h3>Choice Is Good</h3>
          <p>In order to give you a choice of features and price, SantaCruzEQ is available in two versions:
            <ul>
              <li>SantaCruzEQ6, <em> with 6 topologies; №.s 1 through 6 below</em></li>
              <li>tSantaCruzEQ12, <em>with 12 topologies; all twelve below</em></li>
            </ul>
          </p>
        </div>

        <div class="col-md-4 margin-b-30">
          <div class="icon-box text-center">
            <i class="ion-jet feature-sign"></i>
          </div>
        </div>
      </div>

      <div class="row vertical-align-child">
        <div class="col-md-12 margin-b-30">
          <table class="table modalImage">
            <thead>
              <tr>
                <th scope="col">№</th>
                <th scope="col"></th>
                <th scope="col" style="width:12em"><code>Type</code></th>
                <th scope="col"><em>Comments &amp; Analog Kinfolk</em></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">01</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/01-Classic-SymmetricCROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/01-Classic-SymmetricCROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Classic Sym</code></td>
                <td><em>Series symmetrical, almost constant Q bell — common mix desk &amp; outboard gear topology, try on “surgical” applications</em></td>
              </tr>
              <tr>
                <th scope="row">02</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/02-Classic-AsymCROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/02-Classic-AsymCROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Classic Asym</code></td>
                <td><em>Series asymmetrical — Old Skool, boost like № 1 but with narrower cut</em></td>
              </tr>
              <tr>
                <th scope="row">03</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/03-Proportional-1CROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/03-Proportional-1CROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Proportional 1</code></td>
                <td><em>Series proportional — More musical than constant Q, especially for mixing and post. Bells are wider at &lt;6dB and narrower at &gt;6dB</em></td>
              </tr>
              <tr>
                <th scope="row">04</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/04-Proportional-2CROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/04-Proportional-2CROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Proportional 2</code></td>
                <td><em>Series proportional — Like № 3 but with bigger changes &lt; &amp; &gt; 6dB, try on vocals</em></td>
              </tr>
              <tr>
                <th scope="row">05</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/05-Proportional-3CROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/05-Proportional-3CROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Proportional 3</code></td>
                <td><em>Series proportional — Like № 3 but with extra wide bells from 0 to 3dB</em></td>
              </tr>
              <tr>
                <th scope="row">06</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/06-Const-Q-AsymCROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/06-Const-Q-AsymCROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Const-Q Asym</code></td>
                <td><em>Series asymmetrical, constant Q — Boost like № 1, cut like № 5 (extra wide), as found in some USA products &amp; mixers</em></td>
              </tr>
              <tr>
                <th scope="row">07</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/07-Const-Q-RCROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/07-Const-Q-RCROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Const-Q Asy R</code></td>
                <td><em>Series asymmetrical, constant Q — Like № 6 but with mirrored boost &amp; cut</em></td>
              </tr>
              <tr>
                <th scope="row">08</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/08-Const-Q-InversCROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/08-Const-Q-InversCROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Const-Q Invers</code></td>
                <td><em>Series symmetrical, constant Q — Similar to № 7</em></td>
              </tr>
              <tr>
                <th scope="row">09</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/09-Const-Q-IdealCROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/09-Const-Q-IdealCROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Const-Q New</code></td>
                <td><em>Series proportional, constant Q — Our special topology…try it!</em></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td><a href="#" class="clickImage"><%= image_tag "products/thEQblue/FilterCurves/10-Const-Q-NewCROPthumb.jpg", alt: "/assets/images/products/thEQblue/FilterCurves/10-Const-Q-NewCROP.jpg", class: "img-fluid center-img" %></a></td>
                <td><code>Const-Q Ideal</code></td>
                <td><em>Series ideal &amp; constant Q — Similar to № 1, all three parameters (resonant ƒ, gain & Q) are independent, no analog relatives!</em></td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td></td>
                <td><code>Parallel FF-FB</code></td>
                <td><em>Parallel feed forward/feedback — Complementary amplitude and phase characteristics for boost &amp; cut, found in high end graphic EQs, 1st choice for mastering [reference Massenburg]</em></td>
              </tr>
              <tr>
                <th scope="row">01</th>
                <td></td>
                <td><code>Parallel LC</code></td>
                <td><em>Parallel passive LC — Tonal advantages with band interaction &amp; asymmetry disadvantages, found in old or newly recreated PEQs, another choice for mastering [reference Massive Passive, Sontec]</em></td>
              </tr>
            </tbody>
          </table>

          <div id="myModalImage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalImageLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width:81024px;">
              <img src="" class="img-fluid center-img">
            </div>
          </div>

          <p>Constant Q is more for surgical applications, while proportional EQs are best when combining multiple overlapping Sections. As a point of reference, API, Pultec, Masselec and Avalon EQs are all of the proportional type.</p>
          <p><strong>&#9758;</strong> Note that all 12 topologies are normalized to have exactly the same bell shape at 6.02dB of boost. This allows you to easily compare the sound of each architecture.</p>
        </div>
      <div class="space-30"></div>
    </div>

  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <i class="ion-cog feature-sign"></i>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
        SantaCruzEQ is built, as with all of MAAT’s products, on the belief that exceptional fidelity, enhanced workflows and less visual fatigue are hallmarks of better quality toolsets. Our reliance on hard science and focused research balanced by in–depth listening and customer feedback, redefines audio tools for you and your fellow hardcore media professionals worldwide.</p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Iron Maiden</h3>
        <p class="margin-b-20">
            The contribution of distortion to the sound of a particular analog equalizer is caused by its respective electronics and passive components, like transformers and capacitors. Usually though, that non–linear distortion, laughable group delay and other deficiencies produce more “nasty” than “magic.” When designing PEQs, our philosophy has always been to make filters as precise and clean as possible. For controlled distortion, we recommend high quality tape emulation from the brain of Rupert Neve, real tape at 15 or 7.5 ips (no N.R. please), a well crafted effects pedal or other carefully applied studio magic.
        </p>
        <h3>Comprehensive</h3>
        <p>With SantaCruzEQ, you can call up six Sections from one of the twelve architectures available. For four of those six Sections, choose from nine freely assignable filter types, including bell, first and second order low or high shelf along with first and second order low or high cut. The first and sixth Sections are for sculpting the upper and lower edges of the audio passband, with cut and shelving filters only.<br>
        Filter order affects the slope or rate–of–change of the transition region, that range of frequencies where the effect of the filter is building to a maximum. First order filters have a slope of 6dB per octave, while higher orders multiply that value. So, a 2nd order filter has 6 x 2 or 12dB per ocatve slope. You don’t get something for nothing! With filters, you trade higher order for increased group delay or temporal/phase distortion.</p>
        <p>The most significant filter types bearing the equalizer name are bells. Set to a particular Q, different bells change their bandwidth depending on the amount of boost or cut making comparison difficult between architectures. But we’ve got you covered…</p>
        <h6>How to compare topologies…</h6>
        <p>In order to make meaningful comparisons of different typologies, we’ve done something special:<br>
        All 12 equalizer topologies are normalized to have exactly the same bell shape for 6dB of boost and the default Q. If you listen to a single bell filter at +6dB, you will get the same audible result for all architectures. This normalization of the Q or Quality Factor is a unique MAAT feature, and distinguishes our typologies from their analog antecedents because many of the originals have undefined Q definitions due to the limitation of analog technology. The normalization allows you to compare the different EQ architectures in SantaCruzEQ with ease. Just set the gain to +6, and switch between architectures.<br>
        A single minimal phase bell filter <em>with identical shape</em> will sound the same regardless of topology. The difference between topologies becomes obvious when you have activated more bells and other filters so that they start to interact with each other. This will reveal the different characteristics of each architectures, in terms of phase interaction and different gain and Q relationships.
        </p>
      </div>

      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/thEQblue/Filter-Types.png", alt: "SantaCruzEQ", class: "img-fluid center-img" %>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>Classics All</h3>
        <p>The Classic Symmetrical is the most popular bell shape used in many mixers and outboard equalizers. It is almost “constant Q.” That is, as resonant frequency changes, the bandwidth changes, widening as the frequency goes from low to high to maintain a constant ratio of center frequency divided by bandwidth. Constant Q is roughly the way our hearing perceives an EQ’s effect.
        </p>
        <p>The three Proportional PEQs emulate bell characteristics which change their bandwidth proportional to their boost or cut. Many think they behave more musically as you don’t have to correct the Q after every amplitude change. There are also three other constant–Q equalizers available, with characteristics similar to some classic American brands.
        </p>
        <p>SantaCruzEQ12 also offers two proprietary constant–Q varieties. The first, Constant-Q Ideal, is a perfect version of the Classic Symmetrical equalizer, having exactly the same bandwidth at any amplitude within its range of Q. This is measured 3 dB below maximum amplitude at and above +6 dB of boost. Such PEQs are impossible to implement in the analog domain, hence the “ideal” name. Another specialty variety is the Constant-Q New, which follows a new Q definition. It preserves exactly the same bandwidth at the half of the maximum amplitude for all amplitude values. Unlike the classic Q definition, this includes the range below 6 dB of boost. Due to its amplitude/bandwidth dependency in terms of a classic Q definition, this new kind of constant-Q PEQ could also be thought of as a member of the proportional group.
        </p>
        <p>Finally, in SantaCruzEQ12 we emulated two vintage parallel equalizers. With parallel construction, the main input feeds every filter in parallel, with each filter’s output being summed together for the final composite output. With a series implementation, filters are cascaded; each fed from the output of the previous filter. Unlike a series parametric equalizer (almost all paramets are serial), parallel–connected filters combine or cascade differently. They also behave differently in terms of phase. Their special interactive behavior between bands is offset by a pleasing sonic character. Our Parallel LC emulates old skool parallel passive PEQ circuitry built with inductors and capacitors. The Parallel Feed–Forward/Feedback topology emulates the feed–forward/feed–back designs still popular in low noise analog graphic EQs. While the feed–forward path is trivial to implement, the feedback path is impossible to implement in traditional digital signal processing, because of the need for so called “delay–free” feedback loops. In SantaCruzEQ, we apply a unique and very elaborate technique for true emulation of delay-free feedback. The result is a characteristic sound and perfectly complementary filters for boost <em>and</em> cut.
        </p>

        <h4>The Filter Library</h4>
        <p>In SantaCruzEQ, not only are various bell–shaped filters available but also different kinds of shelving filters. Nine of the series equalizers use a special shelving design characterized by a cut–off frequency defined in the middle of the transition region. We found these filter definitions more intuitive than the classical “–3 dB below maximum.” The old skool definition is only used in the Classic Asymmetrical architecture in order to conform to its analog antecedent. All 2nd order shelving filters have a Q adjustment to emulate vintage characteristics, with their inherent and specific bumps at higher slopes. Also, the parallel equalizers are equipped with respective shelving filters shapes that are typical of old parallel PEQs. They also have interacting bands as did their analog predecessors.<br>
        Every complex PEQ is equipped with cut filters. With SantaCruzEQ, each of the six or twelve equalizer topologies can provide 1st and 2nd order cuts. The 2nd order filters have a Q adjustment to create a resonant filter response, and can be combined to provide very steep “brickwall”  slopes by cascading several Sections.
        </p>
        <h3>Best of Both Worlds</h3>
        <p>SantaCruzEQ12 is a creative equalizer tool combining the best of both the analog and digital domains. To avoid bell filter asymmetry at high frequencies for baseband sample rates typical of many digital equalizers, we’ve applied reference–quality upsampling, which automatically kicks in for 44.1 or 48 kHz. By employing our proprietary filter algorithms, we have achieved a huge dynamic range, as well as extremely low noise and distortion. This yields unparalleled sonic purity, impossible for any actual analog circuitry or analog model.
        </p>
      </div>
  </div>
  <div class="space-60"></div>
  </div>
</section>