---
title: "MAAT 2-Bus Control"
layout: "data-spy"
download:
  macOS: "https://www.maat.digital/dl/2BC-macos.zip"
  Windows: "https://www.maat.digital/dl/2BC-windows.zip"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>" style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>2BusControl</h1>
                  <p class="lead">Get your free, comprehensive stereo master monitoring &amp; metering plug-in!</p>
                  <div class="buttons">
                    <a href="#free2bc" class="btn btn-xl btn-primary ">Free Download<i class="ion-play"></i></a>
                    <a href="#details" class="btn btn-xl btn-white-omas-special-style-border">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <%= image_tag "product-2bc.png", alt: "2BusControl", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%= partial "./highlights" %>
<%= partial "./testimonials" %>
<%= partial "./specifications" %>
<%= partial "./free2bc" %>
