---
title: "MAAT LIN Family"
layout: "data-spy"
fastspring:
  linone: "maat-linone-perpetual-license"
  linpro: "maat-linpro-perpetual-license"
  linsurround: "maat-linsurround-perpetual-license"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading"
    style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>

<div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>LIN Family</h1>
                  <p class="lead">Precision redithering…the missing links between distortion and definition.</p>
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop0" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Purchase Now
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                        <a data-fsc-item-path-value='<%= current_page.data.fastspring.linsurround %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINsurround</a>
                        <a data-fsc-item-path-value='<%= current_page.data.fastspring.linpro %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINpro</a>
                        <!--a data-fsc-item-path-value='<%= current_page.data.fastspring.linone %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINone</a-->
                      </div>
                    </div>
                    <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try Them Now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <%= image_tag "product-linpro.png", alt: "LINpro", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<!--%= partial "./learnmore" %-->
<%= partial "./testimonials" %>
<%= partial "./specifications" %>
<%= partial "./buytrial" %>
