<div class="sidebar-widget margin-b-20">
  <h4>Latest Posts</h4>
  <ul class="list-unstyled recent-post">

  <% data.news.first(5).reverse_each do |id, article| %>
    <li class="clearfix">
      <a href="/news/<%= id %>">
        <img src="<%= article.image %>" alt="" width="70">
      </a>
      <div class="post-content">
        <h5><a href="/news/<%= id %>"><%= article.title %></a></h5>
        <span><%= article.date %></span>
      </div>
    </li>
  <% end %>

  </ul>
</div>
