---
layout: "blog"
---

<div class="container">
  <div class="space-90"></div>
  <div class="row">
    <div class="col-md-8">
      <div class="post">
        <div class="blog-desc">
          <div class="post-meta margin-b-10">
            <span><%= article.date %></span>
          </div>
          <h2><%= article.title %></h2>

          <% article.tags.each do |tag| %>
            <span class="badge badge-pill badge-primary"><%= tag.capitalize %></span>
          <% end %>

          <p><%= article.content %></p>

          <% author = data.team[article.author] %>
          <div class="about-author clearfix">
            <%= image_tag author.image, alt: author.title, class: "float-left", width: "60" %>
            <div class="overflow-hidden">
              <h5><%= author.title %></h5>
              <p><%= author.text %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="space-50"></div>
    </div>

    <div class="col-md-3">
      <%= partial "./latest" %>

      <div class="sidebar-widget margin-b-20">
        <h4>Links</h4>
        <ul>
        <% article.links.each do |link| %>
          <li><%= link_to link, link %></li>
        <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
