<!DOCTYPE html>
<html>
<head>
  <%= tag :link, :rel => "canonical",
          :href => current_page.data.target || "./home" %>
  <%= tag :meta, :'http-equiv' => "refresh",
          :content => current_page.data.refresh || "0;url=./home" %>
  <%= tag :meta, :'http-equiv' => "cache-control", :content => "no-cache" %>
  <%= tag :meta, :name => "robots", :content => "noindex,follow" %>

  <%= content_tag :title, current_page.data.title || data.site.title %>

  <script id="fsc-api" src="<%= data.site.api.fastspring.src %>" type="text/javascript" data-storefront="<%= data.site.api.fastspring.storefront %>"></script>
  <%= partial "includes/analytics" %>
</head>

<body>
  <%= yield %>
  <%= partial "includes/cookies" %>
</body>
</html>
