<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <%= tag :meta, :name => "description",
    :content => current_page.data.abstract || data.site.meta.description %>
  <%= tag :meta, :name => "keywords",
    :content => current_page.data.keywords ? current_page.data.keywords.join(', ') : data.site.meta.keywords %>
  <%= tag :meta, :name => "author",
    :content => data.site.meta.author %>

  <%= content_tag :title, current_page.data.title || data.site.title %>

  <%= stylesheet_link_tag "plugins/bundle.css", "style.css" %>
  <%= javascript_include_tag "plugins/plugins.js", "template-custom.js" %>
</head>

<body class="page-misc">
  <%= yield %>
  <%= partial "includes/modals" %>
  <%= partial "includes/cookies" %>
</body>
</html>
