---
title: "MAAT Digital"
layout: "masterslider"
---

<div class="ms-fullscreen-template" id="slider1-wrapper" style="margin-top:60px;">
  <div class="master-slider ms-skin-metro" id="masterslider">
    <div class="ms-slide slide-1" onclick="(window.location.href = '/2buscontrol')" style="cursor:pointer;">
      <div class="slide-pattern"></div>
      <!--h3 class="ms-layer text-center full-width slider-title" data-type="text" data-effect="top(45)" data-duration="7500" data-ease="easeOutExpo">
        Your comprehensive stereo master monitoring & metering plug-in
      </h3-->
      <!--a href="/2buscontrol" class="ms-layer text-center caption-text btn btn-lg btn-primary" data-effect="top(45)" data-duration="7500" data-delay="200" data-ease="easeOutExpo">2BusControl</a-->
      <img src="/assets/css/masterslider/style/blank.gif" data-src="/assets/images/slides/2BC.jpg" alt="2BusControl">
    </div>
    <div class="ms-slide slide-2" onclick="(window.location.href = '/drmeter')" style="cursor:pointer;">
      <div class="slide-pattern"></div>
      <!--h3 class="ms-layer text-center full-width slider-title" data-type="text" data-effect="top(45)" data-duration="7500" data-ease="easeOutExpo">
        Your one and only DR (Dynamic Range) metering plug-in
      </h3-->
      <!--a href="/drmeter" class="ms-layer text-center caption-text btn btn-lg btn-primary" data-effect="top(45)" data-duration="7500" data-delay="200" data-ease="easeOutExpo">DRMeter</a-->
      <img src="/assets/css/masterslider/style/blank.gif" data-src="/assets/images/slides/DRM.jpg" alt="DRMeter">
    </div>
    <div class="ms-slide slide-3" onclick="(window.location.href = '/droffline')" style="cursor:pointer;">
      <div class="slide-pattern"></div>
      <!--h3 class="ms-layer text-center full-width slider-title" data-type="text" data-effect="top(45)" data-duration="7500" data-ease="easeOutExpo">
        Your one and only DR (Dynamic Range) metering plug-in
      </h3-->
      <!--a href="/droffline" class="ms-layer text-center caption-text btn btn-lg btn-primary" data-effect="top(45)" data-duration="7500" data-delay="200" data-ease="easeOutExpo">DROffline</a-->
      <img src="/assets/css/masterslider/style/blank.gif" data-src="/assets/images/slides/DRO.jpg" alt="DROffline">
    </div>
    <div class="ms-slide slide-4" onclick="(window.location.href = '/rsphaseshifter')" style="cursor:pointer;">
      <div class="slide-pattern"></div>
      <!--h3 class="ms-layer text-center full-width slider-title" data-type="text" data-effect="top(45)" data-duration="7500" data-ease="easeOutExpo">
        Great Sounding Alignment, Made Easy
      </h3-->
      <!--a href="/rsphaseshifter" class="ms-layer text-center caption-text btn btn-lg btn-primary" data-effect="top(45)" data-duration="7500" data-delay="200" data-ease="easeOutExpo">RSPhaseShifter</a-->
      <img src="/assets/css/masterslider/style/blank.gif" data-src="/assets/images/slides/RSPS.jpg" alt="RSPhaseShifter">
    </div>
  </div>
</div>

<%= partial "./listup" %>
<%= partial "./whymaat" %>
<%= partial "./quotes" %>
<%= partial "./video" %>
<%#= partial "./partners" %>
<%= partial "./slogan" %>
<%#= partial "./gallery" %>

<script type="text/javascript">
  var slider = new MasterSlider();
  slider.control({insertTo: '#masterslider'});
  <%# slider.control('arrows', {
    autohide: false
  }); %>
  slider.control('bullets');
  slider.setup('masterslider', {
    width: 1800,
    height: 768,
    space: 0,
    view: 'fade',
    layout: 'fullscreen',
    fullscreenMargin: 0,
    speed: 17,
    loop: true,
    overPause: false,
    autoplay: true
  });
</script>
