<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>thEQorange</h2>
      <p>
        <b>When purity is paramount.</b><br>The world’s only linear phase EQ without pre-echo or ringing…for mastering ears, and other discerning engineers.
      </p>
      <h4><strong>Price: $995</strong></h4>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/DRM2/DRM2_DR9_img01.png", alt: "alt text zyzl", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>In A Class By Itself</h3>
          <p>
            There are many cheap and cheerful EQs out there. Most sound like, well, you get what you pay for. Right? Even in the relatively rarified world of “linear phase” equalizers, you have well over a dozen to choose from. Trouble is, with one exception all LP EQs exhibit “pre–ringing,” sort of like print through where a ghostly version of your sound is heard <em>before</em> the direct sound.
          </p>
          <p>
            Not with thEQorange. Whether you’re looking for surgically precise repair, colorless correction or simply baggage–free spectral contouring, thEQorange is like no other. Our unique and rather fancy alogorithm brings the promise of linear phase without the temporal blurring you get with all other LP filters.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Unobtrusive Power</h3>
          <p>
            Hiding behind thEQorange’s clean and simple UI is a powerful premise. Eye candy is great for newbies, but thEQo ain’t your typical budget filter. thEQorange packs all the advanced features you need into one resizable window that’s easy on the eyes. Not only does the UI “get out of the way” so you can be more productive, we’ve incorporated industry–first features that speed your workflow without slapping you in the face.
          </p>
          <h4>Subtle Functionality</h4>
          <p>
            Features include zyzl.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/DRM2/DRM2_Presets_img02.png", alt: "alt text zyzl", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/DRM2/DRM2_MfiT_img03.png", alt: "alt text zyzl", class: "img-fluid center-img" %>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
            We’ve included secondary functionality zyzl.
        </p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Filter Facts</h3>
        <p>Filters or equalizers are hardware or software that provide frequency–dependent gain or loss. The name “equalizer” is a legacy term inherited from when telephones and telegraph were analog tech. High frequency line lossses over long distances were compensated for or “equalized” with passive and later active LCR circuits.<br>
        In the analog world, there are only IIR or Infinite Impulse Response filters. IIR filters exhibit varying amounts of group delay or frequency–dependent phase shift. This inherent characteristic of IIR filters is part of the coloration or “sound” that each brand imparts. Though a few analog filters, mostly for mastering applications, are designed for minimal coloration, most impart some amount of coloration especially at extreme settings.<br>
        In the digital domain, alongside IIR filters, a filter type not seen in the real world is possible: FIR or Finite Impulse Response filters. FIR filters also exhibit group delay but, unlike IIR filters, with FIR the delay is constant at all frequencies. Thus, it is “pure” or linear delay.>br>
        Digital IIR filters can also be created as “minimal phase,” where the group delay is minimized. However, it is still present in all IIR filters, analog or digital.
        </p>
        <h4>To Be Or Not To Be…Causal</h4>
        <p>Another coloration present in most all filters is echo, where a lower amplitude delayed version of the signal arrives before or after the signal itself. Wait, <em>before</em> the signal? In the digital world, a sort of time travel is possible where an echo can appear at the output before the direct signal itself. This is called pre–echo and, to the human ear is both unnatural and annoying.<br>
        While FIR filters exhibit pre–echo, IIR filters have post–echo where the duplicated audio is hidden or masked “under” the signal itself. In nature, post-echo is common since it’s what we all assume when we think of echo. In the real world, echo always appears after the direct sound. Consider how, in a highly reverberant environment (reverb being a large number of echos clustered togther over time), speech intelligibility is degraded. This is an extreme example of what post–echo does to a direct signal.<br>
        In geek speak, FIR filters are thought of as “causal,” where the effect (the echo) appears before the cause. IIR filters are referred to as “non–causal,” with the cause (the direct signal) appearing first at the output.
        </p>
        <h4>And Now For Something Completely Different</h4>
        <p>thEQorange <em>is</em> different. By applying advanced theory to the problem of EQ color, we have created a highly complex algorithm that eliminates pre–echo, post–echo and non–linear group delay. So, no echo to defocus transient detail, plus no temporal stretching or smearing across the audio passband due to differential delaying of frequencies.<br>
        Bottom line: <em>no color</em>, only the purest frequency–selective gain adjustment you have even heard. Add appropriate color with your other tools, but reach for thEQorange when purity is essential.
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/DRM2/DRM2_BackPanel_img04.png", alt: "alt text zyzl", class: "img-fluid center-img" %>
      </div>
  </div>
  <div class="space-60"></div>
  </div>
</section>
