<section class="testimonials">
  <div class="space-30"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Learn More</h3>

        <h4>This video from Friedemann provides an overview of thEQorange</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kw50GbrYLbY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/kw50GbrYLbY', target: '_blank' %></p>

        <h4>Here’s another from Friedemann, explaining what are the differences between our three mastering equalizers</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EROPf28PAeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/EROPf28PAeY', target: '_blank' %></p>

        <h4>何故 Third-Party 製の高品質 EQ が必要なのか</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SbenD-nf0rA?si=xW-a89If53hcV2kI" title="YouTubeビデオプレーヤー" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
        <p>ここにビデオへの直接リンクがあります。<%= link_to 'YouTube', 'https://youtu.be/SbenD-nf0rA', target: '_blank' %></p>

        <h4>thEQorange 是最乾淨的 Linear Phase EQ (中文呈現)</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Wac6p-196dI" title="YouTube 影片播放器" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <p>直接在 <%= link_to 'YouTube', 'https://youtu.be/Wac6p-196dI', target: '_blank' %> 上觀看。</p>

        <h4>Download — thEQorange User Manual</h4>
        <p>The user manual <%= link_to 'PDF', 'https://www.maat.digital/support/#manuals', target: '_blank' %> includes mucho useful info, check it out…</p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>
