---
title: "MAAT thEQorange"
layout: "data-spy"
fastspring:
  buy: "maat-theqorange-perpetual-license"
  subscribe: "maat-theqorange-annual-subscription"
avangate:
  buy: "https://secure.2checkout.com/order/checkout.php?PRODS=14296093&QTY=1&CART=1&CARD=1"
  subscribe: "https://secure.2checkout.com/order/checkout.php?PRODS=18897082&QTY=1&CART=1&CARD=1"
  trial: "/try_thEQ"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading"
    style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>thEQorange</h1>
                  <p class="lead">Linear Phase Without Compromise</p>
                  
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop0" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Purchase Now</button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                        <a data-fsc-item-path-value='<%= current_page.data.fastspring.buy %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">Lifetime Purchase</a>
                        <a data-fsc-item-path-value='<%= current_page.data.fastspring.subscribe %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">Annual Subscription</a>
                      </div>
                    </div>
                      <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try It Now</a>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-7">
                <%= image_tag "product-theqorange.png", alt: "thEQorange", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%= partial "./learnmore" %>
<%= partial "./testimonials" %>
<%= partial "./specifications" %>
<%= partial "./buytrial" %>
