<footer class="footer">
  <div class="space-50"></div>

  <div class="container">
    <div class="row vertical-align-child">

      <div class="col-md-4 margin-b-30">
        <div class="margin-b-20">
          <a href="#">
            <%= image_tag 'logo-light.png', alt: data.site.title %>
          </a>
        </div>
        <p>MAAT Incorporated, a manufacturer of exceptional fidelity professional audio solutions, redefines production tools for professionals worldwide.
        </p>
      </div>

      <div class="col-md-2 margin-b-30">
        <ul class="list-unstyled">
        <li><%= link_to 'Support', '../support' %></li>
        <li><%= link_to 'Contact', '../contact' %></li>
        <li><%= link_to 'Privacy', '../privacy' %></li>
        <li><%= link_to 'Terms', '../terms' %></li>
        </ul>
      </div>

      <div class="col-md-2 margin-b-30">
        <ul class="list-unstyled">
          <!--<li><%#= link_to 'Blog', '#' %></li>-->
        <li><%= link_to 'Guarantee', '../money-back' %></li>
        <li><%= link_to 'Copy Protection', '../copy-protection' %></li>
        <li><%= link_to 'Investor Relations', '../investor-relations' %></li>
        <li><%= link_to 'PMF', 'http://www.pleasurizemusic.com/', target: "_blank" %></li>
        </ul>
      </div>

      <div class="col-md-4 margin-b-30 text-right">
        <h4> Please share the love on social!</h4>
        <ul class="list-inline social">
          <li class="list-inline-item"><a href="https://www.facebook.com/maatdigital/"><i class="ion-social-facebook-outline"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/maat_digital"><i class="ion-social-twitter-outline"></i></a></li>
          <!-- <li class="list-inline-item"><a href="#"><i class="ion-social-googleplus"></i></a></li>-->
          <!-- <li class="list-inline-item"><a href="#"><i class="ion-social-linkedin"></i></a></li>-->
          <!-- <li class="list-inline-item"><a href="#"><i class="ion-social-rss"></i></a></li>-->
          <!-- <li class="list-inline-item"><a href="#"><i class="ion-social-youtube"></i></a></li>-->
        </ul>

        <h4>Subscribe to newsletter</h4>
        <form class="signup-form navbar-form margin-b-20 form-inline float-right"
            action="<%= data.newsletter.free2bc.url %>" target="_blank" method="POST" novalidate>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="<%= data.newsletter.free2bc.hidden %>" tabindex="-1" value="">
          </div>
          <div class="form-group">
            <input type="text" class="form-control col-7" name="EMAIL" placeholder="Enter your email address">
            <button type="submit" class="btn btn-primary btn-lg col-4">Subscribe</button>
          </div>
        </form>
        <span>All rights reserved. © 2017 MAAT Inc. </span>
      </div>

    </div>
  </div>

  <div class="space-20"></div>

<footer>
