<div id="preloader">
  <div id="preloader-inner"></div>
</div>

<a href="#" class="scrollToTop">
  <i class="ion-ios-arrow-up"></i>
</a>

<nav class="navbar navbar-toggleable-md navbar-light fixed-top navbar-transparent clearfix">
  <div class="clearfix"></div>
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% link_to '../2buscontrol', class: "navbar-brand" do %>
      <%= image_tag 'logo-light.png', alt: data.site.title, class: "logo-default" %>
      <%= image_tag 'logo.png', alt: data.site.title, class: "logo-scroll" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to '2BusControl', '../2buscontrol', class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'DRMeter', '../drmeter', class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'DROffline', '../droffline', class: 'nav-link' %></li>
        <li class="nav-item"><%#= link_to 'RS-Shifter', '../rs-shifter', class: 'nav-link' %></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="" href="../about"
            id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About Us</a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="../about">Our Story</a></li>
            <li><a class="dropdown-item" href="../about#team">Team Members</a></li>
            <li><a class="dropdown-item" href="../about#board">Advisory Board</a></li>
          </ul>
        </li-->

        <li class="nav-item">
          <a href="https://secure.avangate.com/myaccount" target="_blank"
              class="btn btn-rounded btn-primary nav-link">Login</a>
      </ul>
    </div>
</nav>
