<div id="preloader">
  <div id="preloader-inner"></div>
</div>

<a href="#" class="scrollToTop">
  <i class="ion-ios-arrow-up"></i>
</a>

<nav class="navbar navbar-expand-lg navbar-light navbar-default fixed-top">
  <div class="clearfix"></div>
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% link_to '/', class: "navbar-brand" do %>
      <%= image_tag 'logo.png', alt: data.site.title, class: "logo-scroll" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto text-nowrap">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="" href="#"
            id="navbarDropdownDRFamilyLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">EQ</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownDRFamilyLink">
            <li><%= link_to 'thEQorange', '/theqorange', class: 'dropdown-item' %></li>
            <li><%= link_to 'thEQblue', '/theqblue', class: 'dropdown-item' %></li>
            <!--li><%= link_to 'thEQred', '/theqred', class: 'dropdown-item' %></li-->
            <li><%= link_to 'SantaCruzEQ', '/santacruzeq', class: 'dropdown-item' %></li>
          </ul>
        </li>

        <!-- STANDALONE MENU ITEM li class="nav-item"><%= link_to 'ProductName', '/url', class: 'nav-link' %></li-->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="" href="#"
            id="navbarDropdownEFXLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">EFX</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEFXLink">
            <li><%= link_to 'RSPhaseShifter', '/rsphaseshifter', class: 'dropdown-item' %></li>
            <!--li><%= link_to 'MtG', '/mtg', class: 'dropdown-item' %></li-->
            <li><%= link_to 'LINearise', '/linearise', class: 'dropdown-item' %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="" href="#"
            id="navbarDropdownDRFamilyLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Measure</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownDRFamilyLink">
            <li><%= link_to 'DRMeter MkII', '/drm2', class: 'dropdown-item' %></li>
            <li><%= link_to 'DROffline MkII', '/dro2', class: 'dropdown-item' %></li>
            <li><%= link_to 'DRMeter', '/drmeter', class: 'dropdown-item' %></li>
            <li><%= link_to 'DROffline', '/droffline', class: 'dropdown-item' %></li>
            <li><%= link_to '2BC multiCORR', '/2bcmulticorr', class: 'dropdown-item' %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="" href="#"
            id="navbarDropdownHardwareLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Hardware</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownHardwareLink">
            <li><%= link_to 'Dongles', '/dongle', class: 'dropdown-item' %></li>
          </ul>
        </li>

        <li class="nav-item"><%= link_to 'Free', '/2buscontrol', class: 'nav-link' %></li>

        <li class="nav-item"><%= link_to 'News', '/news', class: 'nav-link' %></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="" href="#"
            id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About</a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to 'Our Story', '../about', class: 'dropdown-item' %></li>
            <li><%= link_to 'Team Members', '../about#team', class: 'dropdown-item' %></li>
            <li><%= link_to 'Advisory Board', '../about#board', class: 'dropdown-item' %></li>
            <li><%= link_to 'Support', '../support', class: 'dropdown-item' %></li>
          </ul>
        </li>

        <!--li class="nav-item">
          <a href="https://secure.avangate.com/myaccount" target="_blank"
              class="btn btn-rounded btn-primary nav-link">Login</a>
        </li-->
      </ul>
    </div>
</nav>
