---
title: "MAAT LINearise/LINSurround"
layout: "data-spy"
fastspring:
  LIN: "maat-linearise-perpetual-license"
  LINS: "maat-linsurround-perpetual-license"
avangate:
  buy: "https://secure.2checkout.com/order/checkout.php?PRODS=26364053&QTY=1&CART=1&CARD=1"
  trial:
    mac: ""
    win: ""
---

<div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>The LIN Family — LINearise and LINSurround</h1>
                  <p class="lead">Dither is the missing link between distortion and clarity.</p>
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop0" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Purchase Now
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                        <a data-fsc-item-path-value='<%= current_page.data.fastspring.linsurround %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINsurround</a>
                        <a data-fsc-item-path-value='<%= current_page.data.fastspring.linearise %>' data-fsc-action="Add, Checkout" class="dropdown-item" style="cursor:pointer">LINearise</a>
                      </div>
                    </div>
                    <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border">Try It Now</a>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <%= image_tag "product-linearise.png", alt: "LINearise", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%= partial "./features" %>
<%= partial "./specifications" %>
<%= partial "./buytrial" %>
