---
title: "MAAT Dynamic Range Meter"
layout: "data-spy"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;"
  data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1-drm.jpg' %>" style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <div class="hero-static">
                  <h1>DRMeter</h1>
                  <p class="lead">
                    Get your newly updated, one and only DR (Dynamic Range) metering plug-in! </p>
                  <div class="buttons">
                    <a href="https://secure.avangate.com/order/checkout.php?PRODS=4710515&QTY=1&CART=1&CARD=1"
                      class="btn btn-xl btn-primary video-popup"> Buy Now <i class="ion-play"></i></a>
                    <a href="https://secure.avangate.com/order/checkout.php?PRODS=4710519&QTY=1&CART=1&CARD=1"
                      class="btn btn-xl btn-white-border">Try It Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--container-->
        </div>
        <!--hero content-->
      </div>
      <!--hero inner-->

    </div>
    <!--parallax hero-->
  </div>
  <!--parallax image div-->
</section>
<!--intro section end-->


<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">


    <div class="center-title">
      <h2>DynamicRangeMeter</h2>
      <p>MAAT’s DRMeter is the universal realtime level metering plug–in
        companion to our official DROffline batch measurement utility.<br>
        <strong>Price: $35</strong>, which includes a $5 donation to the PMF
        (Pleasurize Music Foundation)</p>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-5 margin-b-30">
          <h3>
            The Only Way to Measure DR
          </h3>
          <p>
            The MAAT DRMeter offers essential options for musically responsive,
            realtime level metering. These include graphical and numeric
            measurement of DR dynamic range, SPPM Peak and RMS amplitude, plus
            digital overs and “digital black.” The MAAT DRMeter release is
            MAAT’s first step in bringing forward the legacy of the PMF’s
            legendary TT Dynamic Range Meter, which was certainly the most
            popular metering plug—in of the last decade. Inspiring music
            producers and artists worldwide for more dynamic music releases,
            this “micro” version will soon be followed by its big brother. The
            upcoming, upgradable DRMeterMkII features all modern metering
            algorithms, including True Peak Level and Loudness Units compliant
            with EBU R128 and ATSC A/85. MAAT paid particular attention to the
            DRMeter’s ballistics, which contributed to the original’s broad
            acceptance. We have tested the new DRMeter again and again against
            the original TT DR Meter to ensure a consistent user experience. In
            addition, DRMeter is modern, supporting all major plug–in formats
            including VST/VST3 and AAX for MacOS and Windows plus Audio Units
            for Mac.
          </p>

        </div>
        <div class="col-md-6 col-md-offset-1 margin-b-30">
          <%= image_tag 'shot1.png', alt: "", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-60"></div>
    </div>
</section>
<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 margin-b-30">
        <%= image_tag 'shot2.png', alt: "", class: "img-fluid" %>
      </div>
      <div class="col-md-5 margin-b-30">
        <h3>
          Built To Perform
        </h3>
        <p class="margin-b-20">
          The MAAT DRMeter is a worthy companion for daily mixing and mastering tasks, enabling fast, accurate and easy mix and mastering
          decisions. For fine tuning peak excursions, and properly setting your limiter with the fast and responsive peak
          meter bar, DRMeter is unmatched. An “Overs” alert warns you to tweak your limiter in order to prevent unwanted
          distortion on playback. The adjacent RMS loudness bar graphs have more relaxed or damped ballistics, so you get
          a good sense of the perceptual loudness. This conveys a sense of proper level staging without overly hectic meter
          movement. The green -18 dBRMS tick mark indicates 0 LU, a widely agreed upon amplitude for hitting your outboard
          gear’s sweet spot. It also helps to manage gain staging for ITB or In–The–Box workflows. The legendary DR bar graph
          can be operated as independent channels, or coupled for a summed left/right response. Our DR bar graph visually
          informs the user through a familiar “traffic light” green/yellow/red color coding scheme. The blue -∞ indicator
          informs you when your DAW is delivering “digital black” or null AES data. If you’ve inserted some noise generating
          plug-in or outboard within a project, you’ll instantly see that. Complementing the new BS.1770 metering standards,
          including Loudness Range (LRA) which was designed to reflect the macro dynamics of broadband audio with a focus
          on broadcasting, the importance and spirit of the DR measurement system for music is unbroken. LRA was designed
          for controlling the perceived loudness range of motion picture soundtracks and television programs. Whereas the
          DRMeter’s algorithm looks at the loudest 20% of the instantaneous signal, LRA purposefully ignores the top 5% of
          a track’s dynamic deviation, making it unsuitable for the evaluation of the dynamics of music.
        </p>
        <a href="#" class="btn btn-lg btn-primary btn-rounded">Learn More</a>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 margin-b-30">
        <h3>
          The Backstory
        </h3>
        <p>
          The DR algorithm, akin to PLR (Peak–to–Loudness Ratio) or “crest factor,” specifically measures the dynamic density or lack
          of dynamics caused by overly aggressive dynamic compression and limiting. When the loudest spots of a song are
          measured, it gives the user an estimate for the "official" DR Value, measured with the companion DROffline. Seeing
          a meaningful and easy to understand indication of dynamic range inspires users to back away from hyper compression.
          The complete DR metering system, composed of the realtime DRMeter plus the DROffline batch processor, was created
          by Friedemann Tischmeyer to address the need to generate a repeatable, easy to understand numeric value. In response
          to the broadly publicized “Loudness Wars,” the PMF worked to raise awareness that oppressively compressed dynamics
          in pop music are not only counterproductive, but sound often like crap! Now legendary, the PMF’s TT DR Meter and
          its offline companion was created to provide a deterministic benchmark, and was used by thousands of engineers
          and consumers to measure and log the dynamic range of popular music releases around the world. Alas, as with all
          things digital, the TT DR Meter grew old. An update was needed…
        </p>


      </div>
      <div class="col-md-6 md-offset-1 margin-b-30">
        <%= image_tag 'shot3.png', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    <div class="space-60"></div>
  </div>
  <div class="space-60"></div>
  </div>
</section>


<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 margin-b-30">
        <%= image_tag 'shot2.png', alt: "", class: "img-fluid" %>
      </div>
      <div class="col-md-5 margin-b-30">
        <h3>
          MAAT To The Rescue
        </h3>
        <p class="margin-b-20">
          The DR meter is back! In conjunction with the PMF, the geeks at MAAT have sweated the details, testing and tweaking to make
          sure that you get the same familiar and much loved ballistics of the original TT DR Meter tool, which has already
          helped to preserve dynamics for thousands of modern pop releases and multimillions of records sold. The only difference
          between the original and new DR meters is the removal of Correlation metering and the Mono Button. That was done,
          in response to user requests, to reduce UI height so the new DRMeter takes up less screen real estate. We have
          implemented those functions in a free plug–in, the MAAT 2BusControl, which also includes solo buttons for L, R,
          MONO & DIFF, plus a left-right flip button and a useful Balance meter. Usable metering is an essential for any
          engineer, and the DRMeter´s measurement and display algorithms adhere to our guiding philosophy of enhancing your
          workflow and improving ergonomics through careful attention to the way you actually work. Ballistics are meticulously
          tuned to achieve the best match between the aural impressions you hear, and the optical rendering by the meters.
          Likewise, the plug-in is "light weight" demanding a minimum of CPU resources so it won´t slow down your host. </p>
        </p>
        <a href="#" class="btn btn-lg btn-primary btn-rounded">Learn More</a>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 margin-b-30">
        <h3>
          Buy It & Help
        </h3>
        <p>
          As an introduction to everyone in the audio community, we’re offering this rather useful plug–in at a very reasonable price.
          Your purchase includes a US$5 donation to the PMF so they can continue working toward a more dynamically exciting
          world of music. Thanks for visiting, and stay tuned for the DROffline batch measuring utility, the only software
          that generates official DR readings. We hope to be working with you more in the future, drop by often to see what’s
          new!

      </div>
      <div class="col-md-6 md-offset-1 margin-b-30">
        <%= image_tag 'shot3.png', alt: "", class: "img-fluid center-img" %>
      </div>
    </div>
    <div class="space-60"></div>
  </div>
  <div class="space-60"></div>
  </div>
</section>





<!--end showcase section-->
<section class="showcase-section bg-faded">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 offset-md-1 margin-b-30">
         <%= image_tag 'shot2-2bc.png', alt: "", class: "img-fluid" %>
     </div>
      <div class="col-md-5 margin-b-30">
        <h3>
          Read This! </h3>
        <p class="margin-b-20">
          The DRMeter is a plug–in that generates approximate DR values when applied to the loudest passages in a track. Due to realtime
          operation, it cannot measure official DR values, which are cumulative over the entire length of a song. Only the
          companion DROffline batch measuring utility can scrub through an entire song or track, resulting in an official
          DR number. To download your copy of the DROffline utility, head over to... </p>
        <a href="maat.digital/droffline.html" class="btn btn-lg btn-primary btn-rounded">droffline.</a>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>
<!--end showcase section-->

<section class="features-section border-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-iphone"></i>
          <h4 class="text-capitalize">TITEL MISSING</h4>
          <p>
            Available for all major plug-in formats, including VST/VST3 and AAX for MacOS and Windows plus Audio Units for Mac OS
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-person-outline"></i>
          <h4 class="text-capitalize">User Friendly</h4>
          <p>
            Lorem Impsum metering for left/right balance and correlation nsectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut.
          </p>
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3  margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-ios-cog-outline"></i>
          <h4 class="text-capitalize">Light Weight</h4>
          <p>
            Lorem ipsum demanding a minimum of CPU resources nsectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
          </p>
          </p>
        </div>
      </div>
      <!--/col-->
      <div class="col-md-6 col-lg-3 margin-b-30">
        <div class="feature-box-center text-center">
          <i class="ion-key"></i>
          <h4 class="text-capitalize">Easy & Customizable</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo elit, sed elit, sed d elit, sed elit, sed incididunt
            ut.
          </p>
        </div>
      </div>
      <!--/col-->
    </div>
  </div>
</section>
<!--end features section-->


<section class="testimonials skin-bg" id="feedback">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>True words from our customers.</h2>
      <p>Over 500,000 Customers worldwide</p>
    </div>

    <div class="row">
      <div class="col-md-4 margin-b-30">
        <div class="feedback-box">
          <p>
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
            orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
          </p>
        </div>
        <div class="testi-info">
          <%= image_tag 'avtar-1.jpg', alt: "", class: "rounded-circle", width: "60" %>
          <div class="content">
            <h4>Nikita Miller</h4>
            <em>Saas Customer</em>
          </div>
        </div>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="feedback-box">
          <p>
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
            orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
          </p>
        </div>
        <div class="testi-info">
          <%= image_tag 'avtar-2.jpg', alt: "", class: "rounded-circle", width: "60" %>
          <div class="content">
            <h4>John Doe</h4>
            <em>Saas Customer</em>
          </div>
        </div>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="feedback-box">
          <p>
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
            orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper. "
          </p>
        </div>
        <div class="testi-info">
          <%= image_tag 'avtar-3.jpg', alt: "", class: "rounded-circle", width: "60" %>
          <div class="content">
            <h4>Emily Howkins</h4>
            <em>Saas Customer</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-60"></div>
</section>
<!--end testimonials section-->



<section class="steps">
  <div class="space-90"></div>
  <div class="container">
    <div class="center-title">
      <h2>Product Features</h2>
      <p>Metering & More</p>
    </div>
    <div class="row">
      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>01</h1>
          <h4>Lorem Impsum</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>DR – approximate Dynamic Range</li>
              <li><i class="ion-ios-arrow-thin-right"></i>SPPM Peak amplituden</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>02</h1>
          <h4>Lorem Impsum</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>RMS amplitude</li>
              <li><i class="ion-ios-arrow-thin-right"></i>-Digital Overs</li>

            </ul>
          </p>
        </div>
      </div>



      <div class="col-md-4 margin-b-30">
        <div class="step-box">
          <h1>03</h1>
          <h4>Lorem Impsum</h4>
          <p>
            <ul class="list">
              <li><i class="ion-ios-arrow-thin-right"></i>Digital Blacke</li>
              <li><i class="ion-ios-arrow-thin-right"></i>Lorem Ipsum</li>
            </ul>
          </p>
        </div>
      </div>




    </div>
  </div>
  <div class="space-60"></div>
</section>
<!--end steps-->
<section class="features-bg">
  <div class="container">
    <div class="center-title">
      <h2>Tech Specifications</h2>
      <p>subtitel missing</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-iphone"></i>
          </div>
          <div class="content">
            <h4>System Requirements</h4>
            <p>
              4 GB DRAM minimum; Wibu-Systems CMAct file–based licensing or optional Wibu–Systems CmStick dongle–based licensing </p>
          </div>
        </div>
        <!--/feature icon-->

        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-copy"></i>
          </div>
          <div class="content">
            <h4>License</h4>
            <p>
              Perpetual
            </p>
          </div>
        </div>
        <!--/feature icon-->
      </div>
      <div class="col-md-6">
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-social-twitter"></i>
          </div>
          <div class="content">
            <h4>Platforms</h4>
            <p>
              AAX, AU, VST2/3 Mac/Win </p>
          </div>
        </div>
        <!--/feature icon-->
        <div class="feature-icon-left clearfix">
          <div class="icon">
            <i class="ion-ios-person"></i>
          </div>
          <div class="content">
            <h4>Supported Hosts</h4>
            <p>
              Ableton Live, Cubase, Logic, Nuendo, Pro Tools, Sequoia, Studio One, Wavelab
            </p>
          </div>
        </div>
        <!--/feature icon-->

      </div>
    </div>
  </div>
</section>

<section class="app-section bg-faded" id="download">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 margin-b-30">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/8zxj-6smeVA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-5 offset-md-1">
        <h3>Learn more...</h3>
        <p class="margin-b-20">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus magna a lacinia tempor. Fusce et turpis posuere, imperdiet
          orci et, tempus ex. Nunc vitae pellentesque ipsum. Quisque id magna a nisl vestibulum ullamcorper.
        </p>
        <!--    <div class="buttons">
                                                <a href="#" class="btn btn-xl btn-primary ">Get 2BC Now: Free Download <i class="ion-play"></i></a>
                                               <!-- <a href="#" class="btn btn-xl btn-white-border">Learn More</a> -->
      </div>
    </div>-->

  </div>
  </div>
  <div class="space-60"></div>
</section>

<div class="space-70"></div>
<div class="cta-skin">
  <div class="container text-center">
    <h2>FREE 2BC DOWNLOAD</h2>
    <p>Simply register for our newsletter and get your free 2BC! </p>
    <a href="#" class="btn btn-rounded btn-white-border">SIGN UP NOW</a>
  </div>
</div>


<script>
  //auto close navbar-collapse on click a
  $('a.nav-link').on('click', function () {
    $('.navbar-toggler:visible').click();
  });
</script>
