---
title: "MAAT DROffline MkII"
layout: "data-spy"
fastspring: "maat-drofflinemk2-perpetual-license"
avangate:
  buy: "https://secure.2checkout.com/order/checkout.php?PRODS=4734803&QTY=1&CART=1&CARD=1"
  trial:
    mac: "https://www.maat.digital/dl/DRO2-macos.zip"
    win: "https://www.maat.digital/dl/DRO2-windows.zip"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading"
  style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>DROffline MkII Analyzer</h1>
                  <p class="lead">The official DR<em>i</em> (integrated Dynamic Range) and R 128/A85 measurement app, plus a whole lot more!</p>

                  <div class="buttons">
                    <button data-fsc-item-path-value='<%= current_page.data.fastspring %>' data-fsc-action="Add, Checkout" class="btn btn-xl btn-primary"> Buy Now <i class="ion-play"></i></button>
                    <a href="https://www.maat.digital/support/#installers" class="btn btn-xl btn-white-omas-special-style-border"> Try It Now! </a>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <%= image_tag "product-dro2.jpg", alt: "DROffline MkII", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%= partial "./learnmore" %>
<%= partial "./features" %>
<%= partial "./learnmore" %>
<%= partial "./testimonials" %>
<%= partial "./specifications" %>
<%= partial "./buytrial" %>
