---
title: "MAAT DROffline MkII"
layout: "data-spy"
avangate:
  buy: "https://secure.avangate.com/order/checkout.php?PRODS=4734803&QTY=1&CART=1&CARD=1"
  trial:
    mac: "https://www.maat.digital/dl/DRO2-macos.zip"
    win: "https://www.maat.digital/dl/DRO2-windows.zip"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading"
  style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>DROffline MkII Analyzer</h1>
                  <p class="lead">Get the one and only DR (Dynamic Range) and R128 measurement app plus a whole lot more!</p>

                  <div class="buttons">
                    <a href="<%= current_page.data.avangate.buy %>" class="btn btn-xl btn-primary"> Buy It Now <i class="ion-play"></i></a>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                      <button id="btnGroupDrop0" type="button" class="btn btn-white-omas-special-style-border btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Try It Now
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                        <a href="https://www.maat.digital/dl/DRO2-macos.zip" class="dropdown-item">Installer for macOS</a>
                        <a href="https://www.maat.digital/dl/DRO2-windows.zip" class="dropdown-item">Installer for Windows</a>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
              <div class="col-md-6">
                <%= image_tag "product-dro2.jpg", alt: "DROffline MkII", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%= partial "./learnmore" %>
<%= partial "./features" %>
<%= partial "./learnmore" %>
<%= partial "./testimonials" %>
<%= partial "./specifications" %>
<%= partial "./buytrial" %>
