---
title: "Support"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Tested & Approved</h2>
    <p>The Top DAWs</p>
  </div>

  <div class="row">
    <% data.approved.items.each do |item| %>
      <div class="col-md-4 margin-b-40">
        <div class="faq-box">
          <h4><%= item.title %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="center-title">
    <h2>Have A Question?</h2>
    <p>Do you have a question about our products, or a more general question about DSP, metering, or digital audio? We’d love to talk with you, so send us a note: <%= mail_to 'marcom@maat.digital' %>
    </p>
    <p>If you have any problems with our products, please first take a look below at our FAQ or Frequently Asked Questions. If your issue is not addressed there, let us know your concerns or what’s needed with as much detail as possible. Include your OS type and version, DAW and version, plus basic information about your host computer including CPU type, amount of RAM, and any unusual peripherals or cards installed. Then, describe the problem so that we can attempt to recreate it! Send that to:
    <%= mail_to 'support@maat.digital' %><br>
    Note that, when you e-mail us with an inquiry, you are agreeing to receive communications from MAAT via e-mail. <a href="https://www.maat.digital/privacy/" target="_blank">Learn more</a>…
    </p>
  </div>
</div>

<div id="installers" class="container">
  <div class="center-title">
    <h2>Installers & Demo Downloads</h2>
    <p>Below are links to ZIP files for all of our products. If you don’t own a license, these installers will provide a 14 day trial license.
    </p>
    <ul>
    <li><strong>thEQorange</strong> installer for <a href="https://www.maat.digital/dl/thEQo-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/thEQo-windows.zip" target="_blank">Windows</a></li>
    <li><strong>thEQblue</strong> installer for <a href="https://www.maat.digital/dl/thEQb-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/thEQb-windows.zip" target="_blank">Windows</a></li>
    <li><strong>SantaCruzEQ</strong> installer for <a href="https://www.maat.digital/dl/SCEQ-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/SCEQ-windows.zip" target="_blank">Windows</a></li>
    <li><strong>RSPhaseShifter</strong> installer for <a href="https://www.maat.digital/dl/RSPS-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/RSPS-windows.zip" target="_blank">Windows</a></li>
    <li><strong>2BC multiCORR</strong> installer for <a href="https://www.maat.digital/dl/2BCmC-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/2BCmC-windows.zip" target="_blank">Windows</a></li>
    <li>[Mark II] <strong>DRMeter MkII</strong> installer for <a href="https://www.maat.digital/dl/DRM2-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/DRM2-windows.zip" target="_blank">Windows</a></li>
    <li>[Mark II] <strong>DROffline MkII</strong> installer for <a href="https://www.maat.digital/dl/DRO2-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/DRO2-windows.zip" target="_blank">Windows</a></li>
    <li><strong>LINearise</strong> installer for <a href="https://www.maat.digital/dl/LIN-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/LIN-windows.zip" target="_blank">Windows</a></li>
    <li>[original] <strong>DRMeter</strong> installer for <a href="https://www.maat.digital/dl/DRM-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/DRM-windows.zip" target="_blank">Windows</a></li>
    <li>[original] <strong>DROffline</strong> installer for <a href="https://www.maat.digital/dl/DRO-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/DRO-windows.zip" target="_blank">Windows</a></li>
    <li>[free, no license required] <strong>2BusControl</strong> installer for <a href="https://www.maat.digital/dl/2BC-macos.zip" target="_blank">macOS</a> or <a href="https://www.maat.digital/dl/2BC-windows.zip" target="_blank">Windows</a></li>
    </ul>
    </p>
  </div>
</div>

<div class="container">
  <div class="center-title">
    <h2>User Manuals</h2>
    <p>Below are links to PDFs for all our products…
    </p>
    <ul>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/thEQorange_UM.pdf" target="_blank">thEQorange</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/thEQblue_UM.pdf" target="_blank">thEQblue</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/SantaCruzEQ_UM.pdf" target="_blank">SantaCruzEQ</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/RSPhaseShifter_UM.pdf" target="_blank">RSPhaseShifter</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/2BC_multiCORR_UM.pdf" target="_blank">2BC multiCORR</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DRMeterMkII_UM.pdf" target="_blank">DRMeter MkII</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DROfflineMkII_UM.pdf" target="_blank">DROffline MkII</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DRMeter_UM.pdf" target="_blank">DRMeter</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DROffline_UM.pdf" target="_blank">DROffline</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/LINearise_UM.pdf" target="_blank">LINearise</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/2BusControl_UM.pdf" target="_blank">2BusControl</a> user manual</li>
    </ul>
    </p>
  </div>
</div>

<div class="container">
  <div class="center-title">
    <h2>Troubleshooting</h2>
    <p>Want to get started troubleshooting a problem on your own? Then run the following utility we’ve included, and send us the ZIP file that’s created:
    <ul>
      <li>For macOS, launch; <code>/Applications/MAAT/Shared/Utilities/DiagnosticsReporter.app</code></li>
      <li>For Windows C drive; <code>\\Program Files\\MAAT\\Shared\\Utilities\\DiagnosticsReporter.exe</code></li>
    </ul>
    </p>
  </div>

  <!--div class="row">
  </div-->
     
  <div class="center-title">
    <h2 id="FAQ"><br>FAQ — Frequently Asked Questions</h2>
  </div>
  
  <div class="row">
  <% ["license","product","maintenance","company"].each do |list| %>
    <div class="col-md-6 margin-b-20">
      <h4><%= data.support[list].title %></h4>

      <ul>
      <% data.support[list].items.each do |item| %>
        <li class="faq-list">
          <a href="#" class="pseudo" onclick="return false"><%= item.topic %></a><br>
          <span class="d-none"><%= item.reply %></span>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div class="space-60"></div>
</div>

<script >
  $(document).ready(function(){
    $(".faq-list a.pseudo").on('click', function (evt) {
      evt.preventDefault();
      var answer = $(this).parent("li").children("span");
      if (answer.hasClass("d-none")) {
        answer.removeClass("d-none")
      } else {
        answer.addClass("d-none")
      }
    });
  });
</script>
