---
title: "Support"
image: "bg2.jpg"
---

<div class="container">
  <div class="space-90"></div>
  <div class="center-title">
    <h2>Tested & Approved</h2>
    <p>The Top DAWs</p>
  </div>

  <div class="row">
    <% data.approved.items.each do |item| %>
      <div class="col-md-4 margin-b-40">
        <div class="faq-box">
          <h4><%= item.title %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="center-title">
    <h2>Have A Question?</h2>
    <p>Do you have a question about our products, or a more general question about DSP, metering, or digital audio? We’d love to talk with you, so send us a note: <%= mail_to 'marcom@maat.digital' %>
    </p>
    <p>If you have any problems with our products, please first take a look below at our FAQ or Frequently Asked Questions. If your issue is not addressed there, let us know your concerns or what’s needed with as much detail as possible. Include your OS type and version, DAW and version, plus basic information about your host computer including CPU type, amount of RAM, and any unusual peripherals or cards installed. Then, describe the problem so that we can attempt to recreate it! Send that to:
    <%= mail_to 'support@maat.digital' %><br>
    Note that, when you e-mail us with an inquiry, you are agreeing to receive communications from MAAT via e-mail. <a href="https://www.maat.digital/privacy/" target="_blank">Learn more</a>…
    </p>
  </div>
</div>

<div class="container">
  <div class="center-title">
    <h2>User Manuals</h2>
    <p>Below are links to PDFs for all our products…
    </p>
    <ul>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/RSPhaseShifter_UM.pdf" target="_blank">RSPhaseShifter</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DRMeterMkII_UM.pdf" target="_blank">DRMeter MkII</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DROfflineMkII_UM.pdf" target="_blank">DROffline MkII</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DRMeter_UM.pdf" target="_blank">DRMeter</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/DROffline_UM.pdf" target="_blank">DROffline</a> user manual</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/2BusControl_UM.pdf" target="_blank">2BusControl</a> user manual</li>
    </ul>
    </p>
  </div>
</div>


<div class="container">
  <div class="center-title">
    <h2>How To Guides</h2>
    <p>For those DIY types out there, here are some PDFs to get you going…
    </p>
    <ul>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/Activating_Your_MAAT_License.pdf" target="_blank">How To Activate Your MAAT License</a></li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/Activating_Your_MAAT_License_Offline.pdf" target="_blank">How To Activate Your MAAT License Offline</a> (no internet access)</li>
    <li><a href="https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/Restoring_Your_MAAT_License.pdf" target="_blank">Restoring Your MAAT License</a> (see “I need to move my license…” in the FAQ below)</li>
    </ul>
    </p>
  </div>
</div>

<div class="container">
  <div class="center-title">
    <h2>Troubleshooting</h2>
    <p>Want to get started troubleshooting a problem on your own? Then run the following utility we’ve included, and send us the ZIP file that’s created:
    <ul>
      <li>For macOS, launch; <code>/Applications/MAAT/Shared/Utilities/DiagnosticsReporter.app</code></li>
      <li>For Windows C drive; <code>\\Program Files\\MAAT\\Shared\\Utilities\\DiagnosticsReporter.exe</code></li>
    </ul>
    </p>
  </div>

  <!--div class="row">
  </div-->

  <div class="row">
  <% ["company","product","license","maintenance"].each do |list| %>
    <div class="col-md-6 margin-b-20">
      <h4><%= data.support[list].title %></h4>

      <ul>
      <% data.support[list].items.each do |item| %>
        <li class="faq-list">
          <a href="#" class="pseudo" onclick="return false"><%= item.topic %></a><br>
          <span class="d-none"><%= item.reply %></span>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div class="space-60"></div>
</div>

<script >
  $(document).ready(function(){
    $(".faq-list a.pseudo").on('click', function (evt) {
      evt.preventDefault();
      var answer = $(this).parent("li").children("span");
      if (answer.hasClass("d-none")) {
        answer.removeClass("d-none")
      } else {
        answer.addClass("d-none")
      }
    });
  });
</script>
