<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>thEQred</h2>
      <p>
        <b>Frequency–domain linear phase as only MAAT can make it.</b>
      </p>
      <h4>• Perpetual License: <strike>MSRP: $489</strike>, Limited Time Offer: $389</h4>
    </div>

    <div class='space-30'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-PanoDetail.web.jpg", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>Red Is The New Black</h3>
          <p>Think of thEQred as LP PEQ Red 2.0…we’ve taken the fundamentals of Algorithmix’s exemplary LinearPhase PEQ Red, and given it a MAAT makeover. There is no other &aelig;sthetic equalizer like thEQred. With its ability to invisibly provide spectral counterweight to mixes that lean one way or another, thEQred excels at straightening up biased content. Add crystalline air without stridency to a dark mix, or beef up lower mids and bass without bloat or loss of focus. With twelve bands or Sections of precision, linear phase parametric equalization featuring unique shelving filters, mastery of complex mixes without changing their overall sonic character is just a few clicks away.
          </p>
          <p>A little backstory…An idea was born to reissue this masterpiece, along with the other legendary Algorithmix EQs, and make it available as 64 bit in all common formats and (finally!) for macOS. As a power user, our visionary Friedemann had some ideas in mind regarding the improvements. Specifically, he wanted to make the user interface, the UI, more flexible and faster to use because there is no other tool in the mastering chain that receives as much “seat time.” The result: Our thEQ UI and feature set. The UI affords super fast setup and includes a number of unique features which help to speed your work: The positive & negative Contribution function including absolute difference, the highly adjustable sonogram which makes detecting problem spots easy, and the possibility to play a note on the keyboard that you have in your head and then snap a Section to that respective frequency with one click. Also, having all twelve Sections visible simultaneously, not to mention the SORT button function.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Frequency Forward</h3>
          <p>
            thEQred works in the frequency domain. That is, the input signal is first transformed into a spectral representation. Then, that spectral equivalent is operated upon. Special measures have been taken to ensure high resolution at critical low frequencies while keeping time resolution untouched. Unlike other frequency-domain filters, this avoids drums or other instrument containing strong transients from being blurred. In addition, extremely high compute resolution has been used to avoid any cumulative truncation effects typical in complex frequency transforms. This results in unblemished sound quality.<br>
            There are other plug–ins on the market using frequency–domain techniques. Most of them apply relatively low frequency resolution and then claim that frequency response mathematically interpolated between a few set points or that freehand drawing is the best solution. This may be true for some industrial applications, but such filters simply don’t sound musical. We’ve worked hard to insure that filter shapes in thEQred exactly match the best analog references. The result is sonic quality that is undisputed, even at baseband 44.1 and 48 kHz rates.
          </p>
          <h4>Unobtrusive Power</h4>
          <p>
            thEQred’s powerful features hide behind its clean and simple UI. Eye candy is great for newbies, but
            thEQr isn’t your typical filter: thEQred packs all the advanced features you need into one
            resizable window that’s easy on the eyes. Not only does the UI “get out of the way” so you can be more
            productive, we’ve incorporated industry–first features that speed your workflow, neatly packaged to make
            thEQred easy and intuitive to use.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/thEQo/thEQo-Power.png", alt: "thEQorange", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/thEQo/thEQo-Matrix&TopoDetail.web.png", alt: "thEQorange", class: "img-fluid center-img" %>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
          Whether you’re looking for gentle rehabilitation, colorless correction, or simply baggage–free spectral contouring, our proprietary, precision algorithm delivers on the promise of linear phase EQ. Bring the power and purity of thEQred to bear for all your critical equalization tasks.
        </p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>Linear Phase Royalty</h3>
        <p>Most all parametric equalizers or PEQs are implemented via phase shift. That is, the incoming dry signal is mixed with a phase–shifted version. Because the amount of the phase shift is frequency dependent, some cancellation or reinforcement occurs at the desired frequency. It gets the job done, but with a major disadvantage: the different signal components of the resulting audio become spread out in time, so time relationships between harmonics in the filtered output is heavily altered. The result: a nice sharp attack becomes slurred and muddy or worse, strident and brittle.<br>
           thEQred changes all that, providing profoundly punchy lows and airy, silky smooth highs like no other. It preserves the time relationships of harmonics, which translates into a smoother top end, sweeter and bigger midrange, and a clearer, more distinct bottom when compared to phase shift–style EQs. The resultant sound seems less processed, more like what should have naturally been captured by the microphone. You won’t get those punchy transients and silky highs with analog outboard or any ol’ IIR digital.
        </p>
        <h4>Versatile VariSlope</h4>
        <p>In addition to all the user–centric features that MAAT brings you, like Panorama and Contribution controls, thEQred features VariSlope™ technology, proprietary to thEQr. With VariSlope, shelving and cut filters offer continuous adjustment of any slope in the range from 0 to 24 dB/octave. Unlike other EQs that let you define or draw the curve, VariSlope offers unique versatility while preserving the sound quality MAAT EQs are known for.<br>
           The exclusive VariSlope filter technology lets you dial in continuous slope filters that emulate any critically damped shelf in the range from 1st to 4th order, including all imaginary filters in between. “Imaginary” because critically damped filters offer only slopes in discreet 6 dB/octave steps per “order”: 6, 12, 18, 24 et cetera. Our continuous slope low and high cut filter performs similarly, yet you can continuously change its slope from a critically damped 4th order equivalent, through 3rd, 2nd, and 1st order down to zero. The critically damped VariSlope high cut mirrors the continuous slope VariSlope low cut.<br>
           Such “in–between” frequency-response filter characteristics, especially with slopes less than 6 dB/octave, are absolutely impossible to implement with classical filter technology. The only workaround would be to cascade many 1st order filters with specially weighted amplitudes to get the overall amplitude envelope lower then 6 dB/octave. Such kludgy filters, however, deliver a wavy frequency response characteristic and are tainted with nasty phase shift and group delay. Quite the opposite, our VariSlope filter affords very smooth, controlled spectral changes without any phase shift.</p>
         <p>thEQred works strictly in the frequency domain, while sounding a bit softer than her linear phase sister, thEQorange. Performing at up to 384 kHz, which extends resonant frequency settings up to 80 kHz, it’s perfect for high resolution DSD, DXD and game audio post–production. Its calculations are stored at 80 bits of precision, way more than 32 bit commodity EQs and more than what even fancy 64 bit EQs manage. The result: the construction of your composite filter is impeccable, with vanishingly low THD and without loss of very low amplitude detail.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>Vive La Différence</h3>
        <p>What are the differences between <%= link_to 'thEQorange', 'https://www.maat.digital/theqorange/', target: '_blank' %> and thEQred? We recommend thEQo for “surgical” work, mostly negative gain EQs to address “problems” or inadequacies in a mix. On the other hand, thEQred is best at aesthetic work, artistic equalization that makes material sound better without affecting the time domain. As with thEQorange and both being linear phase, thEQred doesn’t leave a signature on the sound the way <%= link_to 'thEQblue', 'https://www.maat.digital/theqblue/', target: '_blank' %> does.<br>
        thEQred also has VariSlope, something we think is unique in the industry. So, in keeping with that aesthetically minded approach, with thEQred, you can do really broad or really gentle lifts or suppression, as well as all the “normal” stuff you’d expect from a fixed–order EQ.<br>
        If you primarily work on genres where there are few acoustical performances except for vocals, you probably would find thEQred redundant. Go with <%= link_to 'thEQblue', 'https://www.maat.digital/theqblue/', target: '_blank' %> instead. Its versatility is unsurpassed. If, however, you work with a fair amount of acoustically recorded performances, then, over time, you will find thEQred indispensable.
        </p>
        <h3>Asymmetry Banished</h3>
        <p>Experts say that most digital EQs don’t sound like their analog antecedents, especially when working with baseband 44.1 or 48k sample rates. Spectrum modifications of high frequencies sound unbalanced. The reason is so–called “frequency warping,” which makes bell shapes asymmetric, while high shelves and cuts exhibit steeper slopes than expected. In thEQred, special corrections have been applied, making them look exactly like their analog counterparts while yielding a smooth analog sound. 
        </p>
        <h3>If One is Good, Isn’t Two Better?</h3>
        <p>People have asked us why we haven’t included alternative modes like minimal phase and all the other options you find in competing products. Our goal as plug-in designers is to create tools from the user perspective, offering just enough flexibility with a carefully chosen set of options so the user can focus on the job at hand. It would be easy to add dozens of additional options to the preferences window but why? That’s what <%= link_to 'thEQblue', 'https://www.maat.digital/theqblue/', target: '_blank' %> is for, a whole box of “colors”! As a mastering engineer, you need specialized tools which do a particular job in the fastest and best possible manner.<br>
           thEQred is a perfect example of just such a tool. Dr.s Musialik and Hatje have already worked through an extensive refinement process. When asked about this, Musialik stated that “…the optimization and refinement of our algorithms was a very long, tedious and iterative procedure between research, development and feedback from experienced mastering engineers. Unfortunately, in high res audio, not everything is measurable or provable by numbers. This is especially true for the measurement of dynamic behavior and reactions to real–world, complex signals.”<br>
           Musialik emphasizes that “There is no ‘best’ audio tool for everybody.” His advice: Perform your own listening tests, then select which instruments you want to include in your kit.
         </p>
      </div>
    </div>
    <div class="space-30"></div>
</section>
