<section class="testimonials">
  <div class="space-30"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Learn More</h3>

       <h4>Get the most from RSPhaseShifter with these use case videos…Here’s Number One:</h4>
        <iframe height="315" src="https://www.youtube.com/watch?v=AOui2jdL8DU&list=PLtXoou7Of7x-sCB8SpOPx3KxG1wbyp3lS" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://www.youtube.com/watch?v=AOui2jdL8DU&list=PLtXoou7Of7x-sCB8SpOPx3KxG1wbyp3lS', target: '_blank' %>
        </p>
       <h4>Here’s Number Two:</h4>
        <iframe height="315" src="https://www.youtube.com/watch?v=FURbVyAujcQ&list=PLtXoou7Of7x-sCB8SpOPx3KxG1wbyp3lS&index=2" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://www.youtube.com/watch?v=FURbVyAujcQ&list=PLtXoou7Of7x-sCB8SpOPx3KxG1wbyp3lS&index=2', target: '_blank' %>
        </p>
       <h4>Here’s Number Three:</h4>
        <iframe height="315" src="https://www.youtube.com/watch?v=isrvKDdxtBY&list=PLtXoou7Of7x-sCB8SpOPx3KxG1wbyp3lS&index=3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://www.youtube.com/watch?v=isrvKDdxtBY&list=PLtXoou7Of7x-sCB8SpOPx3KxG1wbyp3lS&index=3', target: '_blank' %>
        </p>
       <h4>Thom Wettstein von Mondstein Records zeigt Ihnen, wie Sie die Phasenlage mit dem RSPhaseShifter von MAAT korrigieren</h4>
        <iframe height="315" src="https://www.youtube.com/watch?v=DV84zF2Iwy0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://www.youtube.com/watch?v=DV84zF2Iwy0', target: '_blank' %>
        </p>
        <h4>Download — RSPhaseShifter User Manual</h4>
        <p>The user manual <%= link_to 'PDF', 'https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/RSPhaseShifter_UM.pdf', target: '_blank' %> includes production tips and tricks
        </p>
      </div>

      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>