<section class="testimonials">
  <div class="space-30"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Learn More</h3>
       <p>Get the most from RSPhaseShifter with these three use case videos…</p>
       <h4>Number One:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AOui2jdL8DU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/AOui2jdL8DU', target: '_blank' %>
        </p>
       <h4>Number Two:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FURbVyAujcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/FURbVyAujcQ', target: '_blank' %>
        </p>
       <h4>Number Three:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/isrvKDdxtBY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/isrvKDdxtBY', target: '_blank' %>
        </p>
       <h4>Thom Wettstein von Mondstein Records zeigt Ihnen, wie Sie die Phasenlage mit dem RSPhaseShifter von MAAT korrigieren:</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DV84zF2Iwy0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Watch it directly on <%= link_to 'YouTube', 'https://youtu.be/DV84zF2Iwy0', target: '_blank' %>
        </p>
        <h4>Download — RSPhaseShifter User Manual</h4>
        <p>The user manual <%= link_to 'PDF', 'https://website-maat-digital-downloads.s3.amazonaws.com/public/docs/RSPhaseShifter_UM.pdf', target: '_blank' %> includes production tips and tricks…
        </p>
      </div>
      <div class="col-md-4 margin-b-30">
        <div class="icon-box text-center">
          <i class="ion-trophy feature-sign"></i>
        </div>
      </div>
    </div>
  </div>
</section>