<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>DRMeter MkII :: Cross–platform Plug–in</h2>
      <p>
        The only comprehensive Loudness metering solution, from the guys who helped pave the way for Loudness normalization.
      </p>
      <h4><strong>Price: $129</strong></h4>
    </div>

    <div class='space-90'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/DRM2/DRM2_DR9_img01.png", alt: "Official whole number rounded DR Values with a blink of an eye", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>One Meter For All</h3>
          <p>
            DRMeter MkII is the first Loudness meter plug–in designed for general use and specifically for music production. It’s the only Loudness meter that displays channel–specific trends and events by augmenting the mandated mono measurement with classic L/R metering. DRMeter MkII is also the first plug–in to offer official DR dynamic range measurement.
          </p>
          <p>
            With this product, MAAT premiers the Dynamic Deviation™ function, an intuitive presentation of current dynamic density compared to Target Loudness. Dynamic density is the amount of dynamic contrast in a recording. DRM2 is also the first Loudness meter to display both Relative and Absolute scales simultaneously.
          </p>
          <h4>Need More?</h4>
          <p>
            Current Loudness meters were designed to strictly conform to the R128 and A/85 Loudness measurements standards. While DRMeter MkII conforms 100% to all international standards, with higher accuracy than many competing products, we wanted more and we think you will too. Conceived by MAAT’s own Friedemann Tischmeyer, a member of the EBU’s <em>ploud</em> group that created R128, DRMeter MkII addresses the needs of modern audio pros, who jump from commercial work and CD prep and mastering to an industrial promo soundtrack or VO for a DOOH client.
          </p>
          <p>Relax. Whatever job walks in the door, you know your measurement needs are met. Rest easy knowing no matter what genre or flavor of content you produce, DRMeter MkII will guide you toward the best possible master for your specific deliver platform or medium. DRMeter MkII, the Loudness Meter for all of us.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Unobtrusive Power</h3>
          <p>
            Hiding behind DRMeter MkII’s seemingly simple UI is a powerful premise. Eye candy is great for newbies, but can really get you down on a daily basis. DRMeter MkII packs every metric you may need into one resizable window that’s easy on the eyes. Not only does the UI “get out of the way,” so you can be more productive, we’ve incorporated industry–first features that inform you of possible pitfalls without slapping you in the face.
          </p>
          <h4>Subtle Functionality</h4>
          <p>
            DRMeter MkII combines all mandated Loudness metrics with several new helpers. We’ve added discrete left/right measurements so you can ID channel–specific trouble spots and track trends. We also measure all the time for all metrics, in the background, so you can jump from one measurement method to another and back, checking up on specific concerns without loosing the overall picture. We’ve even added little details that make your day better, like “digital black” or -∞ indicators; Play, Pause and automatic controls for integrated measurement; an R128 Gate Disable for downward compatibility; and a True Peak disable option for broadcast folks that need SPPM as well. Did we mention factory and user presets so you can blip between client or program–specific settings in an instant?
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/DRM2/DRM2_Presets_img02.png", alt: "Presets give you instant control of your Loudness to match Spotify, iTunes Music & MfiT, YouTube, TIDAL, R128 & A/85 and Pandora", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-90"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/DRM2/DRM2_MfiT_img03.png", alt: "Dynamic Deviation indicates that the master is about 2 dB too loud while DRM2 is in MfiT monitoring mode at Target Loudness set to -16 LUF", class: "img-fluid center-img" %>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
            We’ve included a round trip AAC codec, the same one iTunes uses, into our measurement and monitoring options so your MfiT work will be spot on every time, while Dynamic Deviation allows you to navigate within the “gravitation field” between peak and Loudness normalization. By setting your personal Target Loudness level and a True Peak Threshold, you get instant feedback on positive or negative differences relative to your defined “Dynamic Margin.”<br>
            Dynamic Margin equals Target Loudness minus TP Threshold and, BTW, the use of “deviation” is significant. Positive values indicate more dynamic content than your Dynamic Margin, while negative values indicate less dynamic content.
        </p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-90'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 margin-b-30">
        <h3>Loudness Metering Evolved</h3>
        <p>Since the invention of the initial TT Dynamic Range meter, things have improved in the global audio metering marketplace. We now have world standards for True Peak, Loudness and Dynamic metrics, defined in ITU BS 1770 and applied in practice thanks to the European Broadcasting Union’s R128 and the Advanced Television Systems Committee’s A/85 standards. Though designed for broadcast audio, this has had a huge impact on the whole world of production and distribution, not only broadcasting. Amazingly, we have reliable, predictable and globally interoperable algorithms and parameters, bringing “Loudness Normalization” even into the world of global music distribution.
        </p>
        <h4>Who Needs DR Metering?</h4>
        <p>We had to ask ourselves, “Does the world really need the DRMeter anymore?” The clear answer is, “Fer sure, dude!” Why? Because LRA or Loudness Range, as specified in BS.1770-4, aims to reflect the dynamics of broadband material being distributed by television broadcasters. The LRA algorithm excludes the top 5% of the dynamic band, which is uninteresting for broadcasters working with generous headroom. However, that same top 5% of the whole dynamic range capacity of a system, is essential for music as its content happens almost exclusively in this upper 5% region. DR is the only algorithm for measuring the dynamic integrity of music releases.
        </p>
        <h4>Metering For Normalization Targets</h4>
        <p>Spotify, iTunes, YouTube, TIDAL, Pandora and many other streaming platforms are working with Program Loudness, along with TV broadcasters worldwide plus an increasing number of set–top boxes, SVoD and OTT (streaming video providers like Netflix, Amazon and HBO Go) and even traditional radio broadcasters. iTunes Music and iTunes Match uses a proprietary algorithm which is pretty close to Integrated Loudness mentioned above. We really don’t need another player in the field of Loudness normalization, but we do need a universal yardstick for dynamic density; the DR Dynamic Range algorithm.
        </p>
        <p>DR is a tool not only for pro audio peeps but your audience as well, especially audiophiles, since DR is used by music enthusiasts to judge and compare the provenance of music releases. Our DR database records the values of tens of thousands of songs and albums, so the public can compare different releases and remastered versions.
        </p>
        <h4>What About PLR?</h4>
        <p>Lately, there are plenty of meters showing PLR or Peak–to–Loudness Ratio, the difference between Peak and Loudness values. Wouldn’t this be a good alternative? Nope, because PLR has been defined by broadcasters to reflects the True Peak–to–integrated Loudness Ratio. This makes sense for broadcasters dealing with a minimum True Peak headroom of 1 dB (R128) or 2 dB (A/85). That said, using PLR for music makes no sense because many masters show True Peak overs of up to +3 dB, and information above 0 dBFS encodes latent distortion but not dynamics or loudness. A better alternative would be PSR or Sample Peak (SPPM)–to–Short–term Loudness Ratio. PSR has been defined in the AES Convention e-Brief 373. In order to deliver a complete metering solution, we have integrated the PSR algorithm into DRMeter MkII so that you can compare PSR with DR.
        </p>
        <p>The major shortcoming of PSR is its inability to consider macro dynamics due to the absence of gating and the like, which leads to a higher misrepresentation of dynamic density. So, songs with high macrodynamic would measure far louder. Also, interpretation of values is impossible unless you know the inherent macrodynamics. As an example: Say you have a song with an acoustic guitar intro and a very dynamic interlude but a chorus crushed into “toothpaste,” the PSR would give us a moderately high value due to the dynamic intro and interlude. This is solved with DRM2, as you can actually measure the lack of dynamic range while you hear it.
        </p>
        <h4>The Measurements</h4>
       <ol>
          <li>The DR bar graph of DRMeter MkII is the same as the original TT DR Meter plug–in and MAAT’s DRMeter. If you want to get a quick sense of the final integrated DR (DR<em>i</em>), you have now two options: Go to the loudest sustained part of a song, often the chorus, and read the numeric value above the bar graph. It will be quite close to an integrated DR measurement, which you’d get from our DROffline batch utility. The new option is to use DRM2’s exclusive DR<em>i</em> function. Run the chorus of your song to get a quick estimate of the official DR<em>i</em>. When you’re done with a track, run the whole song and stop playback. The official integer DR<em>i</em> value will be displayed at the bottom of the DR bar graph. This inclusion of DROffline’s functionality will make your work day go faster!
          </li>
          <li>The emerging PSR measurement method displays the current Peak–to–Short–term Loudness Ratio for those who want to have a comparison or reference. For the sake of harmonization with existing standards, it makes sense to use Short–term for Loudness measurement, and SPPM (Sample Peak Program Metering) for the PSR peak measurement.<br>
              Be careful: With no standard, PLR measurements are not harmonized. So, different manufacturer’s meters display varying results, with each showing its own interpretation of the same audio source. Many use RMS instead of Short–term LU. The difference between PLR and DR is simple: PLR is the difference between peak and average, and is <em>not</em> standardized, while DR is always, repeatably DR. Also, DR ignores low amplitude information, so called “background loudness,” for the sake of a more predictable measurement result. Plus, the DR algorithm also incorporates additional processing for meaningful measurement of the dynamic integrity and dynamic density of popular music.
          </li>
          <li>LRA or Loudness Range was designed to reflect the deviation of loudness events primarily for broadcast applications. Unfortunately, LRA isn’t ideal for evaluating Loudness of pop and other styles of music since most of recorded music happens in a range of amplitude which is ignored by the mandated LRA algorithm. So, for universality, we have included LRA for broadcast engineers and those who want to be more familiar with metering standards and their applications. The LRA meter allows you to compare results with both DR and PSR.
          </li>
        </ol>
      </div>
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/DRM2/DRM2_BackPanel_img04.png", alt: "The back panel offers a whole lot of options to make DRM2fit to your individual demands", class: "img-fluid center-img" %>
      </div>
  </div>
  <div class="space-60"></div>
  </div>
</section>
