---
title: "MAAT thEQblue"
layout: "data-spy"
avangate:
  buy12: "https://secure.2checkout.com/order/checkout.php?PRODS=24243526&QTY=1&CART=1&CARD=1"
  buy6: "https://secure.2checkout.com/order/checkout.php?PRODS=24243616&QTY=1&CART=1&CARD=1"
  trial: "/try_thEQ"
---

<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading"
    style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>thEQblue</h1>
                  <p class="lead">A dozen precision variations on “analog,” all in one EQ.</p>
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop0" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Purchase Now
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop0">
                        <a href="<%= current_page.data.avangate.buy12 %>" class="dropdown-item">thEQblue12</a>
                        <a href="<%= current_page.data.avangate.buy6 %>" class="dropdown-item">thEQblue6</a>
                      </div>
                    </div>
                    <a href="<%= current_page.data.avangate.trial %>" class="btn btn-xl btn-white-omas-special-style-border">No Demo Yet </a>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <%= image_tag "product-theqblue.png", alt: "thEQblue", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%#= partial "./testimonials" %>
<%= partial "./specifications" %>
<%#= partial "./buytrial" %>
