---
title: "Advisory Board"
image: "bg2.jpg"
---

<div class="container">
            <div class="space-90"></div>
            <div class="row align-items-center margin-b-50">
                <div class="col-md-5">
                    <h3>
                        Lorem ipsum dolor sit amet & consetetur sadipscing
                    </h3>
                    <p>
                        Once upon a time, a well respected mastering engineer had some sensible but unorthodox notions, and colleagues crazy enough to throw in with him… Thus was born the Pleasurize Music Foundation. Later in his career, that same guy decided to lift up the music community further by establishing the Mastering Academy…
                        Those two enterprises formed the roots of MAAT; a dedication to quality and a desire to provide better sounding, easier to use tools and simpler workflows.
                    </p>
                    <p>
                        Our street cred is moderately huge already, and we have a broad range of digital audio products in the works, with new approaches to metering, EQ and dynamics plus specialized utilities. We even have plans for some stuff you haven’t thought of yet! As a multi–national group of
                         grizzled Yodas and kick ass Young Lions who share a need for fidelity, our goal is to make your studio a better workplace.
                    </p>
                </div>
                <div class="col-md-7">
                    <!-- template -->
                    <div>
                        <!-- masterslider -->
                        <div class="master-slider ms-skin-default" id="masterslider">				   
                            <div class="ms-slide">
                                <img src="assets/masterslider/style/blank.gif" data-src="assets/images/img1.jpg" alt="lorem ipsum dolor sit"/>
                            </div>
                            <div class="ms-slide">
                                <img src="assets/masterslider/style/blank.gif" data-src="assets/images/img2.jpg" alt="lorem ipsum dolor sit"/>
                            </div>
                            <div class="ms-slide">
                                <img src="assets/masterslider/style/blank.gif" data-src="assets/images/img3.jpg" alt="lorem ipsum dolor sit"/>
                            </div>
                        </div>
                        <!-- end of masterslider -->
                    </div>
                    <!-- end of template -->

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="margin-b-20">Our Mission</h3>

 <p class="margin-b-20">MAAT aims to reshape and reinvent audio mastering. Please join us, we think you’ll enjoy the ride!
</p>
                   
                </div>
                <div class="col-md-6">
                    <h3 class="margin-b-20">Our Promis</h3>
                    <ul class="list">
                        <li><i class="ion-checkmark"></i> Setting a new standard in sonic quality</li>
                        <li><i class="ion-checkmark"></i> Defining a new benchmark in usability </li>
                        <li><i class="ion-checkmark"></i> Offering a solution for a hitherto unsolved problem</li>
                    </ul>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="border-bottom"></div>
            <div class="space-60"></div>
            
            <div class="space-60"></div>
            <div class="border-bottom"></div>
        </div>

       
        <div class="cta-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h3>
                    </div>
                    <div class="col-md-4">
                        <a href="advisory-board.html" class="btn btn-rounded btn-white-border">Meet our Team</a>
                    </div>
                </div>
            </div>
        </div>
        
        


<div class="container">
  <div class="space-90"></div>
  <div class="row">

    <div class="col-sm-12">
      <div class="center-title">
        <h2>Meet our creative team</h2>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 margin-b-30">
      <div class="feedback-box">
        <div class="margin-b-30 text-center">
          <%= image_tag 'team-musialik.jpg', alt: "", class: "rounded-circle margin-b-20" %>
          <h4 class="text-capitalize margin-b-5">Dr. Christoph Musialik</h4>
          <p class="text-muted">DSP Genius</p>
        </div>
        <p>
          Dr. Musialik is highly respected as one of the very top DSP or Digital Signal Processing specialists in the world. His algorithms
          are embedded in tools from SSL through Waves to Cadac. In 2008, Christoph Musialik was presented with the AES Fellowship
          Award for outstanding contributions in the development of advanced digital signal processing tools used in the
          restoration and filtering of audio signals. He is current Chair of the AES DSP board. The benchmark algorithms
          he created for Algorithmix will by licensed by MAAT to be transformed into modern, state of the art, cross–platform
          audio tools. Dr. Musialik actively advises the MAAT team in all areas of DSP optimization, so that both the licensed
          Algorithmix code and proprietary MAAT coding will fulfill our customer’s highest expectations and standards.
        </p>
      </div>

    </div>
    <div class="col-lg-4 col-md-6 margin-b-30">
      <div class="feedback-box">
        <div class="margin-b-30 text-center">
          <%= image_tag 'team-kessler.jpg', alt: "", class: "rounded-circle margin-b-20" %>
          <h4 class="text-capitalize margin-b-5">Ralph Kessler</h4>
          <p class="text-muted">Principal, Pinguin Ingenieurbüro</p>
        </div>
        <p>
          Mr. Kessler is an exceptional audio engineer as well as mastering engineer, with more than 30 years of experience. Kessler
          is considered one of the leading audio metering experts, having developed the legendary Pinguin Meter, the most
          musical audio meters on the market. In addition, Kessler is a specialist in auralization, 3D audio, and the creation
          of high resolution impulse responses. Mr. Kessler supports the MAAT team in all these areas with his in–depth technical
          knowledge and industry acumen.
        </p>
      </div>

    </div>
    <div class="col-lg-4 col-md-6 margin-b-30">
      <div class="feedback-box">
        <div class="margin-b-30 text-center">
          <%= image_tag 'team-schult.jpg', alt: "", class: "rounded-circle margin-b-20" %>
          <h4 class="text-capitalize margin-b-5">Roger Schult</h4>
          <p class="text-muted">Master Analog Designer</p>
        </div>
        <p>
          Mr. Schult has led a double life, as a generalist electronics engineer designing for 3 rd party clients, and as an electrical
          engineer focused on his own analog audio creations. His contract development work spans a broad range of applications,
          from microprocessor-controlled alarm systems and ultrasonic sensors for distance measurement on the road and under
          water, to designs of fiber optic systems for data transmission and control. His passion being music, he is known
          worldwide for his vacuum tube electronics for musicians, and his pristine quality, solid state analog pieces for
          mastering engineers. Schult will bring a practiced, in depth perspective to MAAT’s group of exceptional advisors.
        </p>
      </div>

    </div>
      <div class="col-lg-4 col-md-6 margin-b-30">
        <div class="feedback-box">
            <div class="margin-b-30 text-center">
                <%= image_tag src="assets/images/team-tischmeyer.jpg" class="rounded-circle margin-b-20" alt="">
                <h4 class="text-capitalize margin-b-5">Friedemann Tischmeyer</h4>
                 <p class="text-muted">Founder and visionary</p>
            </div>
            <p>
                A world renowned mastering engineer and founder of Mastering Academy, Tischmeyer offers master classes for professional 
                audio engineers and producers worldwide, including Hamburg, Geneva, New York, L.A., Toulouse, Peking, Stockholm, and more. He has worked for artists like Alan Parsons, Johnny Cash and Cro. His professional consultation clients include: Antares, Apple, Arri, Bavaria Film, Presonus, Pro7/Sat1, RTL/VOX, Sony Music, Steinberg & Yamaha America.
                In addition, Tischmeyer is a member of the ploud loudness expert committee of the European Broadcasting Union, and is 
                president of the Pleasurize Music Foundation/USA.
            </p>
        </div>

    </div>
        <div class="col-lg-4 col-md-6 margin-b-30">
            <div class="feedback-box">
                <div class="margin-b-30 text-center">
                    <%= image_tag src="assets/images/team-leeb.jpg" class="rounded-circle margin-b-20" alt="">
                    <h4 class="text-capitalize margin-b-5">42Angelitos Chris Leeb</h4>
                    <p class="text-muted">Co-Founder</p>
                </div>
                <p>
                Leeb, a visionary and portfolio entrepreneur with C-Level (CIO) experience for a global high tech enterprise, 
                combines that background with 12 years of early stage endeavors.
                He is founder of 42Angelitos–The Startup Catapult in Palo Alto, California. In this capacity, Leeb joins our 
                team as co-founder and sparring partner to fine tune MAAT´s marketing, social media and business strategies.
                </p>
            </div>

    </div>
        <div class="col-lg-4 col-md-6 margin-b-30">
            <div class="feedback-box">
                <div class="margin-b-30 text-center">
                <%= image_tag src="assets/images/team-tad.jpg" class="rounded-circle margin-b-20" alt="">
                <h4 class="text-capitalize margin-b-5">Tad Nichol</h4>
                <p class="text-muted">Plug–in Development</p>
            </div>
            <p>
            An audio software architect working on everything from DSP to GUIs to IPC to automated QA and beyond, 
            Tad keeps the code repository well oiled, and helps it grow smoothly, designing sustainable & modular frameworks 
            to help integrate all the pieces needed to create robust artistic tools. He grew up listening to lots of tunes 
            while traveling across mountains and deserts, and is always seeking ways to manifest his love of music.
            </p>
        </div>

     </div>
        <div class="col-lg-4 col-md-6 margin-b-30">
            <div class="feedback-box">
                <div class="margin-b-30 text-center">
                <%= image_tag src="assets/images/team-jong.jpg" class="rounded-circle margin-b-20" alt="">
                <h4 class="text-capitalize margin-b-5">Jochem de Jong</h4>
                <p class="text-muted">Plug–in Development</p>
            </div>
            <p>
            When author, musician, and programmer de Jong isn’t writing articles on audio technology, he’s creating new products
            and new art together with like minded folks that inspire him. Comfortable  guiding co–conspirators on music or
            publishing–related projects, he’s currently on a quest to refine his C++ and audio plug–in programming chops.
            De Jong has developed over thirty audio plug–ins for companies around the world, and has released his own mastering DSP suite.
            His compositions can be heard in over 50 commercials and short films, and he’s written over 6 hours of stock music. 
            De Jong brings a wealth of interdisciplinary knowledge to MAAT’s neural collective.
            </p>
        </div>

    </div>
        <div class="col-lg-4 col-md-6 margin-b-30">
            <div class="feedback-box">
                <div class="margin-b-30 text-center">
                <%= image_tag src="assets/images/team-lorenzo.jpg" class="rounded-circle margin-b-20" alt="">
                <h4 class="text-capitalize margin-b-5">Nathan Lorenzo</h4>
                <p class="text-muted">UI Design</p>
            </div>
            <p>
            Lorem ipsum.....
            </p>
        </div>

    </div>
        <div class="col-lg-4 col-md-6 margin-b-30">
            <div class="feedback-box">
                <div class="margin-b-30 text-center">
                <%= image_tag src="assets/images/team-masciarotte.jpg" class="rounded-circle margin-b-20" alt="">
                <h4 class="text-capitalize margin-b-5">Oliver Masciarotte</h4>
                <p class="text-muted">Marcom & Product Management</p>
            </div>
            <p>
            At the age of 12, OMas received a mono, open reel tape recorder. Since then, his world has never been the same. 
            Over the years, he has worked for many pro and CE audio manufacturers, including dbx, Lexicon, Sony, Sonic Solutions,
            and Minnetonka Audio, and watched as digital techniques moved from their infancy to today’s broad adoption. Masciarotte is an
            active member of the AES, SMPTE and DCS, and in his copious free time, rides bikes along the Mississippi while writing for leading consumer audio publications.
            </p>
        </div>
      
      

    </div>
  </div>
</div>
