---
title: "MAAT Digital"
layout: "masterslider"
---

<div class="ms-fullscreen-template" id="slider1-wrapper" style="margin-top:60px;">
  <div class="master-slider ms-skin-metro" id="masterslider">
    <% ["dro2","drm2","rsphaseshifter","drmeter","2buscontrol"].each do |item,idx| %>
    <div class="ms-slide slide-<%= idx %>"
        onclick="(window.location.href = '/<%= data.products[item].page %>')"
        style="cursor:pointer;">
      <div class="slide-pattern"></div>
      <img src="/assets/css/masterslider/style/blank.gif"
          data-src="<%= data.products[item].slide %>"
          alt="<%= data.products[item].name %>">
    </div>
    <% end %>
  </div>
</div>

<%= partial "./index/listup" %>
<%= partial "./index/whymaat" %>
<%= partial "./index/quotes" %>
<%= partial "./index/video" %>
<%#= partial "./index/partners" %>
<%= partial "./index/slogan" %>
<%#= partial "./index/gallery" %>

<script type="text/javascript">
  var slider = new MasterSlider();
  slider.control({insertTo: '#masterslider'});
  <%# slider.control('arrows', {
    autohide: false
  }); %>
  slider.control('bullets');
  slider.setup('masterslider', {
    width: 1800,
    height: 768,
    space: 0,
    view: 'fade',
    layout: 'fullscreen',
    fullscreenMargin: 0,
    speed: 17,
    loop: true,
    overPause: false,
    autoplay: true
  });
</script>
