---
title: "Merging Technologies — 45% Off Spring Promo"
layout: "data-spy"
---

<style>
  img.center-img {
    max-height: 280px;
  }
  img.button-svg {
    width: 70px;
  }
</style>

<section id="home" class="dzsparallaxer auto-init dzsparallaxer use-loading"
  style="position: relative; height: 300px; padding-top: 100px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg2.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-7 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1 style="font-weight:600"><%= current_page.data.title %></h1>
                  <p class="lead"></div>
              </div>
              <div class="col-md-5">
                <%= image_tag 'logo-steinberg.png', alt: "Merging 45% Off Spring 2020 Promotion", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="space-40"></div>

  <div class="center-title">
    <h3>Use Discount Coupon Code: <strong><em>Merging-2020-Customer-Advantage</em></strong></h3>
    <h4>Redeem the coupon for 45% off when you check out.</h4>

    <!--p>&nbsp;</p-->
    <div class="space-30"></div>

    <h4>The MAAT Arsenal — Peerless Performance On Sale!</h4>
    <p>Announcing a limited time, discount program in conjunction with our friends at Merging Technologies.<br>
    For one month, from 15 March to 15 April 2020, enjoy 45% savings on all our software.</p>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">thEQorange</h3>
          <p class="card-text">A linear phase EQ with unparalleled clarity. For mastering ears, and other discerning engineers.</p>
          <p class="card-text">thEQorange is an 80 bit two–pass, time domain linear phase mastering EQ. Some very accomplished mastering engineers consider thEQo to be the ultimate LP software equalizer.</p>
          <p class="card-text">It provides exceptionally low distortion and ripple, not typically achievable with frequency domain LP methods. Its complex internal architecture, sophisticated signal windowing, and applied calculation precision all contribute to its exceptionally natural sound and exacting fidelity. <a href="https://www.maat.digital/theqorange/" target="_blank">Learn more…</a></p>
          <p class="card-text">
            Perpetual License: <strike>MSRP: $989</strike> Now $295 — 70% Off, Save $694 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=14296093&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a><br>
            Annual Subscription, MSRP: $119 — 50% Off, Now $60 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=18897082&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a><br>
            <strong>Note:</strong> 3-Series Wibu CmStick dongle (the serial number starts with a 3 dash) is required for this product. Dongle purchases are NOT part of the promotion, and your CmStick $50 rebate <em>cannot</em> be applied along with this promotional discount. <a href="https://secure.2checkout.com/order/checkout.php?PRODS=14295186&QTY=1&CART=1&CARD=1&__c=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/EQo512.jpg', alt: "thEQorange - Ultimate Linear Phase Mastering Equalizer", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">thEQblue</h3>
          <p class="card-text">Beautiful analog architectures, twelve in all, that will take your work out of the ordinary.</p>
          <p class="card-text">Looking for “color” without all the downsides of outboard gear and modeling? thEQblue is a collection of twelve 80 bit minimum phase equalizer architectures derived from reverse engineering a variety of well respected hardware EQs.</p>
          <p class="card-text">thEQblue are idealized digital versions, with no noise, distortion or other secondary effects inherited from analog. Series and Parallel architectures are available as are all the features and fidelity our thEQ family is known for. <a href="https://www.maat.digital/theqblue/" target="_blank">Learn more…</a></p>
          <p class="card-text">
            thEQblue12, MSRP: $389 — 50% Off, Now $195 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24243526&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a><br>
            thEQblue6, MSRP: $239 — 50% Off, Now $120 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24243616&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a><br>
            <strong>Note:</strong> A 3-Series Wibu CmStick dongle (the serial number starts with a 3 dash) is required for this product. Dongle purchases are NOT part of the promotion, and your CmStick $50 rebate <em>cannot</em> be applied along with this promotional discount. <a href="https://secure.2checkout.com/order/checkout.php?PRODS=14295186&QTY=1&CART=1&CARD=1&__c=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/EQb512.jpg', alt: "thEQblue - Multi–architecture Minimum Phase Equalizer", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">SantaCruzEQ</h3>
          <p class="card-text">Beautiful analog architectures, six or twelve, in an affordable package.</p>
          <p class="card-text">Wallet a bit light this month? An entry level version of thEQblue with the same great sound, SantaCruzEQ is the light but mighty sonic sandbox for every mixing and mastering engineer to mess around in.</p>
          <p class="card-text">Six Sections of fully parametric EQ, with either six [SantaCruzEQ6] or twelve [SantaCruzEQ12] of our “Blue” Architectures. <a href="https://www.maat.digital/santacruzeq/" target="_blank">Learn more…</a></p>
          <p class="card-text">
            SantaCruzEQ12, MSRP: $259 — 50% Off, Now $130 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=26263784&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a><br>
            SantaCruzEQ6, MSRP: $189 — 50% Off, Now $95 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=24499639&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/SCEQ512.jpg', alt: "SantaCruzEQ - Multicolor Minimum Phase EQ", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DRMeter MkII</h3>
          <p class="card-text">The only universal Loudness metering solution, from the guys who helped pave the way for Loudness normalization.</p>
          <p class="card-text">Loudness these days isn’t just about broadcast. If you work on a wide range of projects, you need DRM2.</p>
          <p class="card-text">DRMeter MkII is the first Loudness metering plug–in designed for general use and specifically for music production. It’s the only comprehensive Loudness meter that displays channel–specific trends and events by augmenting the mandated mono measurement with classic L/R metering. DRMeter MkII is also the first real time plug–in to offer official integrated DR<em>i</em> Dynamic Range measurement, along with PSR and RMS. <a href="https://www.maat.digital/drm2/" target="_blank">Learn more…</a></p>
          <p class="card-text">DRMeter MkII, MSRP: $129 — 50% Off, Now $65 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710518&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/DRM2512.jpg', alt: "DRMeter MkII - Universal Loudness Measurement Plugin", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DROffline MkII</h3>
          <p class="card-text">The background batch measurement companion to our official DRMeter MkII plug-in.</p>
          <p class="card-text">Got files? Scrub folders, look inside files and send clients beautiful reports, all in the background.</p>
          <p class="card-text">The companion application to DRMeter MkII, DROffline MkII batch measurement app is the only software that automatically measures all mandated R128 parameters in the background, along with official (integrated) DRi and a wide range of key metrics. 24 different measurements, including DR<em>i</em> Dynamic Range and PSR are available, along with print quality reporting. <a href="https://www.maat.digital/dro2/" target="_blank">Learn more…</a></p>
          <p class="card-text">DROffline MkII, MSRP: $49 — 50% Off, Now $25 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4734803&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/DRO2512.jpg', alt: "DROffline MkII - Batch Loudness/DR Measurement and Reporting App", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">2BC multiCORR</h3>
          <p class="card-text">A multiband correlation meter with essential metering and monitoring functions.</p>
          <p class="card-text">Wondering about phase? You won’t find it in your waveforms…</p>
          <p class="card-text">Get a 360° overview of phase behavior, plus monitor controls for total aural awareness. 2BC multiCORR includes 31 bands of correlation, plus stereo balance, stereo correlation and five essential monitor controls: Left–Only, Right–Only, L+R, L-R and Flip. <a href="https://www.maat.digital/2bcmulticorr/" target="_blank">Learn more…</a></p>
          <p class="card-text">2BC multiCORR, MSRP: $49 — 50% Off, Now $25 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=21939842&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/2BCmC512.jpg', alt: "2BC multiCORR - Multiband Phase & Balance Meter", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">RSPhaseShifter</h3>
          <p class="card-text">Great sounding alignment, made easy.</p>
          <p class="card-text">A mixer’s secret weapon, for live and in the studio…Whether it’s mix sessions with multiple tracks of one instrument, or alignment of spots and overheads, RSPS makes quick work of cancellation issues, bringing back the richness and impact you cannot get elsewhere.</p>
          <p class="card-text">The only digital implementation of Roger Schult/German Audio Lab’s Phase Shifter W2324 pure analog hardware, RSPhaseShifter is the quick, simple and higher fidelity solution for any situation where you need to creatively control tonality, power spectrum and harmonic content through phase manipulation. <a href="https://www.maat.digital/rsphaseshifter/" target="_blank">Learn more…</a></p>
          <p class="card-text">RSPhaseShifter, MSRP: $99 — 50% Off, Now $50 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710517&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/RSPS512.jpg', alt: "RSPhaseShifter - Hi-Fi Phase Warping Plugin", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DRMeter</h3>
          <p class="card-text">Accept no fakes, this is the only official DRMeter.</p>
          <p class="card-text">Heard about DR? A better way to measure subjective loudness…</p>
          <p class="card-text">A universal metering plug–in for the stereo master bus, DRMeter is a modern recreation of the legendary TT DR Meter. DRMeter offers two essential options for metering, plus specialized measurement for estimating DR Dynamic Range. DR is visually displayed as a real time bar meter plus corresponding numeric fields. Sample Peak Program and RMS amplitude are also shown as nested meters and numeric readouts. <a href="https://www.maat.digital/drmeter/" target="_blank">Learn more…</a></p>
          <p class="card-text">DRMeter, MSRP: $35 — 50% Off, Now $18 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710515&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/DRM512.jpg', alt: "DRMeter - Realtime DR Meter Plugin", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">DROffline</h3>
          <p class="card-text">The value priced measurement utility for official DR<em>i</em>.</p>
          <p class="card-text">The entry level batch measurement companion application to the DRMeter real time DR estimator plug-in.</p>
          <p class="card-text">Offering essential options for musically justified, file–based metering, DROffline includes official DR<em>i</em> Dynamic Range, plus SPPM Peak and RMS amplitude measurements. One file can be evaluated, or an entire directory can be batch measured in the background. <a href="https://www.maat.digital/droffline/" target="_blank">Learn more…</a></p>
          <p class="card-text">DROffline, MSRP: $15 — 50% Off, Now $8 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=4710516&QTY=1&CART=1&CARD=1&__c=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/DRO512.jpg', alt: "DROffline - Batch Measurement Application", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">LINearise</h3>
          <p class="card-text">The devil is in the details…</p>
          <p class="card-text">LINearise is the final link between production and delivery.</p>
          <p class="card-text">Offering optional word length reduction and three dither spectra tailored to both analog and digital delivery of assets, LINearise is highly adjustable to help create your own signature “sound.” In addition to TPD and weighted TPD, LINearise features VPD™, Variable Probability Density, an exclusive feature that allows you to dial in the dither spectrum anywhere between rectangular and Gaussian distribution. <a href="https://www.maat.digital/linearise/" target="_blank">Learn more…</a></p>
          <p class="card-text">LINearise, MSRP: $19 — 50% Off, Now $10 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=26364053&QTY=1&CART=1&CARD=1" target="_blank"><%= image_tag 'misc/BuyNowButton192.svg', alt: "Buy Now!", class: "button-svg" %></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/LIN512.jpg', alt: "LINearise - Full Featured Dithering Plugin", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">MtG - Available Soon</h3>
          <p class="card-text">Taking the drudgery out of dialog editing.</p>
          <p class="card-text">Streamlining workflows for spoken word production, the MtG plug–in automatically fills gaps, of any length, in edited speech tracks.</p>
          <p class="card-text">Working inside your favorite DAW, MtG magically supplies smoothly looped room tone, with controls for visualizing and defining loop fills, along with gain controls to seamlessly integrate the looped audio into the material. <!--a href="" target="_blank">Learn more…</a--><br>
              Note: MtG will be released 15 November 2019.</p>
          <p class="card-text">MtG, MSRP: $99  — 50% Off, Now $50 <a href="https://secure.2checkout.com/order/checkout.php?PRODS=26363853&QTY=1&CART=1&CARD=1" target="_blank"><strong>PrePurchase — Buy Now!</strong></a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/MtG512.jpg', alt: "MtG - Automatic Dialog Editing Assistant", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>

    <div class="space-80">
        <hr>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-8 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h3 class="card-title" style="letter-spacing: -1px">2BusControl — <strong>FREE!</strong></h3>
          <p class="card-text">Comprehensive monitor control & metering.</p>
          <p class="card-text">A A universal Left/Right plus MONO/DIFF monitor controller, with Balance and Correlation metering for your stereo bus master. <a href="https://www.maat.digital/2buscontrol/" target="_blank">Learn more…</a></p>
          <p class="card-text">2BusControl, MSRP: $0 <a href="https://www.maat.digital/support/#installers" target="_blank">— Free, Get It Now!</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-light mb-3">
        <div class="card-body">
          <%= image_tag '512thumbnails/2BC512.jpg', alt: "2BusControl - Spring 2020 Promotion", class: "img-fluid center-img" %>
        </div>
      </div>
    </div>
  </div>

  <div class="center-title">
    <p><strong>MAAT was founded on the belief in higher fidelity signal processing and metering that speeds your workflows and promote sane dynamics. Oh yeah, don’t forget to enjoy the ride!<br>Thanks for your interest in MAAT. Together with you and Merging Technologies, we look forward to making entertainment a better sounding place.</strong></p>
  </div>

  <div class="space-60"></div>
</div>
