<strong>---
title: "Sonic/Wholegrain Black Friday Promo"
layout: "data-spy"
---

<style>
  img.center-img {
    max-height: 280px;
  }
  img.button-svg {
    width: 70px;
  }
  ol.om {
    list-style-type: upper-roman;
  }
</style>



<section id="home" class="dzsparallaxer auto-init dzsparallaxer use-loading"
  style="position: relative; height: 300px; padding-top: 100px;" data-options='{  mode_scroll: "normal" }'>

  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg2.jpg' %>"
      style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-7 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1 style="font-weight:600"><%= current_page.data.title %></h1>
                  <p class="lead"></p></div>
              </div>
              <div class="col-md-5">
                <%= image_tag 'logo-sspro.jpg', alt: "Sonic Studio 2022 Promotion", class: "img-fluid center-img" %><br>
                <%= image_tag 'logo-wgd.png', alt: "Wholegrain Digital 2022 Promotion", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="container">
  <div class="space-40"></div>

    <div class="center-title">
      <h3><strong><em>Sonic Studio/Wholegrain Digital Holiday Sale</em></strong></h3>
        <p>Sonic Studio and Wholegrain Digital Systems have helped to define the modern pro audio landscape. Now’s the time to pick up on some tastey and tasteful DSP for your most demanding jobs.
        </p>
    </div>

    <div class="row">
      <div class="col-lg-8 col-sm-6">
        <div class="card border-light mb-3">
          <div class="card-body">
            <h3>Sonic Studio NoNOISE 3 Holiday Sale</h3>
            <h4>The OG Broadband DeNoiser Outperforms</h4>
              <p>Sonic Studio’s NoNOISE 3 is based on the Academy Award™–winning legendary Broadband DeNoise™ system that pioneered the digital audio restoration industry. Now all new purchases of <a href="https://sonicstudiopro.com/nonoise-3/" target="_blank">NoNOISE 3</a> through the end of 2022 will get a discounted copy of our upcoming BroadBand DeNoise 4 plug-in when released next year. Purchase NoNOISE 3 for $149 or subscribe for as little as $8.33/month!<br>Add this powerhouse hiss and hum remover to your audio toolkit now! Available in AU, VST 2 and AAX Native plug-in formats for macOS.
              </p>
              <p><a href="https://sonicstudiopro.com/nonoise-3/" target="_blank">Buy I.C.E. Now</a> — <a href="https://sonicstudiopro.com/nonoise-3/" target="_blank">Subscribe Now: I.C.E.</a>
              </p>
            </div>
          </div>
        </div>
      </div>



    <div class="row">
      <div class="col-lg-8 col-sm-6">
        <div class="card border-light mb-3">
          <div class="card-body">
            <h3>Legendary Audio I.C.E. On Sale</h3>
            <h4>From the legendary folks at Legenday Audio comes I.C.E.</h4>
              <p>You may have heard of Legendary’s Masterpiece, an amazing analog mastering studio in a 3U rack. Billy Stull isn’t known only for his Masterpiece, I.C.E. is his problem–frequency eliminiator. There are other packages that are trying to sooth but I.C.E. provides more features than the rest at a fraction of the cost. During this year–end sale, Billy’s making <a href="https://sonicstudiopro.com/products/legendary-audio-i-c-e" target="_blank">Legendary Audio I.C.E.</a> available at 50% off as part of Sonic’s Pro Audio Holiday Sale. Purchase now or subscribe for as little as $7.08/month.<br>Don't miss out on this sizzling offer! AU, VST 2 and AAX for macOS along with VST 2 for Windows.
              </p>
              <p><a href="https://sonicstudiopro.com/products/legendary-audio-i-c-e" target="_blank">Buy I.C.E. Now</a> — <a href="https://sonicstudiopro.com/products/legendary-audio-i-c-e" target="_blank">Subscribe Now: I.C.E.</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-sm-6">
          <div class="card border-light mb-3">
            <div class="card-body">
              <h3>Wholegrain Digital Systems Quartet & Trio DynPEQ Holiday Sale</h3>
              <h4>The ultimate dynamic equalizer family.</h4>
                <p>Quartet and Trio DynPEQ, now available in both AAX DSP and Native-only formats, are on sale through the end of 2022. Now’s your chance to get this insanely great dynamic paramet at an amazing price!<br>
                <p>Either solution is a major addition to your audio toolkit and at these prices, you shouldn’t pass up this opportunity. Available as AU and AAX DSP and Native for macOS.
                </p>
                <p>Choose from:</p>
                <ol class="om">
                  <li>Quartet DynPEQ in AAX DSP format for all your mastering needs — $479</li>
                  <li>Trio DynPEQ - AAX DSP for Input Processing for just $269</li>
                </ol>
                <p>Not into ProTools?</p>
                <ol class="om">
                  <li>Quartet DynPEQ in AAX Native format for just $209</li>
                  <li>Trio DynPEQ in AAX Native format for just $119</li>
                </ol>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="card border-light mb-3">
            <div class="card-body">
              <%= image_tag 'logo-wgd.png', alt: "Wholegrain Digital Systems", class: "img-fluid center-img" %>
            </div>
          </div>
        </div>
      </div>


  <div class="space-60"></div>
</div>
</strong>
