<section class="showcase-section" id="features">
  <div class="space-90"></div>
  <div class="container">

    <div class="center-title">
      <h2>2BC multiCORR</h2>
      <p>
        <b>Stay on top of correlation, across the spectrum.</b><br>A multiband correlation meter with essential metering and monitoring functions.
      </p>
      <h4><strong>Price: $49</strong></h4>
    </div>

    <div class='space-30'></div>
    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/2BCmC/2BCmC01.jpg", alt: "Phase cancellation", class: "img-fluid center-img" %>
        </div>
        <div class="col-md-8 margin-b-30">
          <h3>Can You Relate?</h3>
          <p>Why the heck do you need a multiband correlation meter? It’s simply that a regular stereo correlation meter doesn´t identify specific trouble spots. If your fat kick and bass is mono, it’s mostly correlated so a stereo correlation meter would show that everything is O.K. while your strings, hihat, or vocals are cancelling out! 2BC multiCORR combines the useful and beloved functions of our free 2BusControl monitor controller plug–in with a carefully designed, third octave multiband correlation meter. Our multiband approach warns you not to overdo stereo spread with your fancy spreading tool, or when your stereo mics are delivering a signal with too much out–of–phase content. Either way, you’d get cancellation when your mix is summed to mono.<br>
              Correlation measures the degree of relatedness between left and right channel. If they’re alike, that’s mono, and they will have perfect correlation. Stereo noise is decorrelated, with no similarity between channels. Stereo music should be more like the former, with a bit of “stereoness” to create a soundstage, whereas convincing, diffuse reverb should have lower inter–channel correlation. When content is present in one channel, and an inverted phase version is in the other channel, that sums to zero in mono and the audio disappears.
          </p>
        </div>
      </div>
      <div class="space-60"></div>
    </div>

    <div class="container">
      <div class="row vertical-align-child">
        <div class="col-md-8 margin-b-30">
          <h3>Unobtrusive Power</h3>
          <p>
          2BC multiCORR’s powerful features hide behind its clean and simple UI. We’ve brought essential functionality and innovative user interface design to what used to be an unremarkable product category. With five monitoring modes, an ergonomic and deceptively simple interface, highly tuned correlation metering over thirty one bands plus stereo balance and correlation, you’ve got to try 2BC multiCORR for yourself.
          </p>
        </div>
        <div class="col-md-4 margin-b-30">
          <%= image_tag "products/2BCmC/2BCmC02.jpg", alt: "2BC multiCORR", class: "img-fluid center-img" %>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
  </div>
</section>

<section class="showcase-section grey-bg">
  <div class="space-60"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 margin-b-30">
        <%= image_tag "products/2BCmC/2BCmC03.jpg", alt: "2BC multiCORR", class: "img-fluid center-img" %>
      </div>

      <div class="col-md-8 margin-b-30">
        <h3>Better By Design</h3>
        <p class="margin-b-20">
        Most correlation meters use a cosine scale, derived from old analog meters, while 2BC multiCORR employs a trueLinear™ scale. This linear scale better matches your perception. As with all of MAAT’s products, 2BCmC follows our guidelines of creating meaningful tools for modern engineers.
        </p>
        <%= partial "./accordeon" %>
      </div>
    </div>
  </div>
  <div class="space-30"></div>
</section>

<section class="showcase-section">
  <div class='space-60'></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>The Low Down</h3>
        <p>If your material is destined for LP distribution, keep in mind that lacquer cutting has difficulty with large amplitude, out–of–phase information at very low frequencies. 2BC multiCORR provides four bands of analysis for the critical bottom octave, six additional bands of metering covering frequencies up to 200 Hz, plus three additional band for the 200 to 400 Hz range.<br>
        Other than vinyl, why should you care about mono? Monaural playback is more prevalent than ever, with the rise of battery–powered, hand held party speakers and the seemingly ubiquitous “smart speaker.” Don’t forget that Center Channel speaker in a surround setup…Though a product may advertise stereo playback, the simply fact is that size matters. At low frequencies, playback from any single point, diminutive device is essentially monaural. Also, small sources usually cannot reproduce the bottom octave at all and many begin to roll off below 100 Hz. So make sure to maximize the appropriate amount of LF energy for the material you’re working on.
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-12 margin-b-30">
        <h3>Not Just Correlation</h3>
        <p>2BC multiCORR isn’t just multiband correlation. It also includes a left/right balance meter, a broadband left/right correlation meter, plus five monitor controls allowing you to focus on any issues you may come across.<br>
        With a single button, you can switch to Left–Only or Right–Only, Mono (L+R) or Difference (L-R). The fifth monitor control, FLIP, swaps the left and right channels. Sometimes you may come across a subtle issue that you think may be in one channel or the other. The Flip control, along with the Left–Only/Right–Only buttons, quickly helps to confirm or identify any problems. Also, you may occasionally be presented with a mix that’s not laid out from the audience perspective, and Flip is a quick way to rotate the soundstage around to where you’re comfortable.</p>
        <p>For extra versatility, 2BC multiCORR includes a native version you can run anytime to meter outside of your DAW or plug–in host. To use 2BCmC standalone, you will usually need a “virtual audio device,” an audio driver that provides a software “device” the operating system can use for I/O patching. For Windows, we recommend VB-Audio’s <%= link_to 'VB-CABLE', 'https://www.vb-audio.com', target: '_blank' %>. For macOS, we recommend Existential Audio’s <%= link_to 'BlackHole', 'https://existential.audio', target: '_blank' %>. Both are free.
        </p>
        <h3>Don’t Hit The Chair Without It!</h3>
        <p>2BC multiCORR packs the advanced features you need into one resizable window that’s easy on the eyes. Not only does the UI “get out of the way” so you can be more productive, we’ve incorporated user–centric features that speed your workflow. Easy and intuitive to use, be sure to hang it off the last slot in your Master Bus so you always know exactly what’s going on with your mix!
        </p>
      </div>
    </div>
    <div class="space-30"></div>
</section>
