---
title: "MAAT 2BC multiCORR"
layout: "data-spy"
avangate:
  buy: "https://secure.2checkout.com/order/checkout.php?PRODS=21939842&QTY=1&CART=1&CARD=1"
  trial: "https://secure.2checkout.com/order/download.php?PRODS=21939842&QTY=1&PAY_TYPE=CCVISAMC"
---
<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal" }'>
  <div class="divimage dzsparallaxer--target " data-src="<%= url_for 'assets/images/bg1.jpg' %>" style="width: 100%; height: 130%; background-image: url()">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container text-left">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto align-self-center">
                <div class="hero-static">
                  <h1>2BC multiCORR</h1>
                  <p class="lead">Multiband correlation with integral monitor control</p>
                  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <a href="<%= current_page.data.avangate.buy %>"
        class="btn btn-xl btn-primary"> Buy It Now <i class="ion-play"></i></a>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-xl dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Try It Now
        </button>
        <div class="dropdown-menu dropdown-hack" aria-labelledby="btnGroupDrop1">
          <a href="https://website-maat-digital-downloads.s3.amazonaws.com/releases/current_third_party_newsletter/2BCmC/MAAT_2BC_multiCORR_Installer-1.1.3-NL-macOS.zip" class="dropdown-item">Installer for macOS</a>
          <a href="https://website-maat-digital-downloads.s3.amazonaws.com/releases/current_third_party_newsletter/2BCmC/MAAT_2BC_multiCORR_Installer-1.1.3-NL-Windows.zip" class="dropdown-item">Installer for Windows</a>
        </div>
      </div>
    </div>
                </div>
              </div>
              <div class="col-md-6">
                <%= image_tag "products/2BCmC/hero-2bcmc.png", alt: "2BC multiCORR UI", class: "img-fluid center-img" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "./details" %>
<%= partial "./learnmore" %>
<!--%= partial "./testimonials" %-->
<%= partial "./specifications" %>
<%= partial "./buytrial" %>